## **<mark>CASE</mark>**

Biểu thức CASE đánh giá danh sách các điều kiện và trả về một trong nhiều kết quả được chỉ định. 

Vì CASE là một biểu thức, bạn có thể sử dụng nó trong bất kỳ mệnh đề nào chấp nhận một biểu thức như SELECT, WHERE, GROUP BY và HAVING.

> CASE input   
> 
>     WHEN e1 THEN r1
> 
>     WHEN e2 THEN r2
> 
>     ...
> 
>     WHEN en THEN rn
> 
>     \[ ELSE re \]   
> 
> END  
> 
>

In [ ]:
SELECT    
    order_status, 
    COUNT(order_id) order_count
FROM    
    sales.orders
WHERE 
    YEAR(order_date) = 2018
GROUP BY 
    order_status

In [ ]:
SELECT    
    CASE order_status
        WHEN 1 THEN 'Pending'
        WHEN 2 THEN 'Processing'
        WHEN 3 THEN 'Rejected'
        WHEN 4 THEN 'Completed'
    END AS order_status, 
    COUNT(order_id) order_count
FROM    
    sales.orders
WHERE 
    YEAR(order_date) = 2018
GROUP BY 
    order_status

In [ ]:
SELECT    
    SUM(CASE
            WHEN order_status = 1
            THEN 1
            ELSE 0
        END) AS 'Pending', 
    SUM(CASE
            WHEN order_status = 2
            THEN 1
            ELSE 0
        END) AS 'Processing', 
    SUM(CASE
            WHEN order_status = 3
            THEN 1
            ELSE 0
        END) AS 'Rejected', 
    SUM(CASE
            WHEN order_status = 4
            THEN 1
            ELSE 0
        END) AS 'Completed', 
    COUNT(*) AS Total
FROM    
    sales.orders
WHERE 
    YEAR(order_date) = 2018;

## **<mark>COALESCE</mark>**

Biểu thức <mark>COALESCE</mark> của SQL Server chấp nhận <mark>một số đối số</mark>, <mark>đánh giá</mark> chúng theo <mark>thứ tự</mark> và <mark>trả về đối số không rỗng đầu tiên</mark>.

> COALESCE(e1,\[e2,...,en\])

Trong cú pháp này, e1, e2,… en là các biểu thức vô hướng đánh giá thành các giá trị vô hướng. Biểu thức COALESCE trả về biểu thức khác rỗng đầu tiên. Nếu tất cả các biểu thức đánh giá là NULL, thì biểu thức COALESCE trả về NULL;

Bởi vì COALESCE là một biểu thức, bạn có thể sử dụng nó trong bất kỳ mệnh đề nào chấp nhận một biểu thức như SELECT, WHERE, GROUP BY và HAVING.

In [ ]:
-- A) Sử dụng biểu thức COALESCE của SQL Server với ví dụ về dữ liệu chuỗi ký tự
SELECT 
    COALESCE(NULL, 'Hi', 'Hello', NULL) result

In [ ]:
-- B) Sử dụng biểu thức COALESCE của SQL Server với ví dụ dữ liệu số
SELECT 
    COALESCE(NULL, NULL, 100, 200) result

In [ ]:
-- C) Sử dụng biểu thức COALESCE của SQL Server để thay thế NULL bằng các giá trị mới
SELECT 
    first_name, 
    last_name, 
    COALESCE(phone,'N/A') phone, 
    email
FROM 
    sales.customers
ORDER BY 
    first_name, 
    last_name

In [1]:
-- D) Sử dụng biểu thức COALESCE của SQL Server để sử dụng dữ liệu có sẵn
CREATE TABLE salaries (
    staff_id INT PRIMARY KEY,
    hourly_rate decimal,
    weekly_rate decimal,
    monthly_rate decimal,
    CHECK(
        hourly_rate IS NOT NULL OR 
        weekly_rate IS NOT NULL OR 
        monthly_rate IS NOT NULL)
);

In [3]:
INSERT INTO 
    salaries(
        staff_id, 
        hourly_rate, 
        weekly_rate, 
        monthly_rate
    )
VALUES
    (1,20, NULL,NULL),
    (2,30, NULL,NULL),
    (3,NULL, 1000,NULL),
    (4,NULL, NULL,6000),
    (5,NULL, NULL,6500);

In [4]:
SELECT
    staff_id, 
    hourly_rate, 
    weekly_rate, 
    monthly_rate
FROM
    salaries
ORDER BY
    staff_id

staff_id,hourly_rate,weekly_rate,monthly_rate
1,20,NULL,NULL
2,30,NULL,NULL
3,NULL,1000,NULL
4,NULL,NULL,6000
5,NULL,NULL,6500

In [ ]:
SELECT
    staff_id,
    COALESCE(
        hourly_rate*22*8, 
        weekly_rate*4, 
        monthly_rate
    ) monthly_salary
FROM
    salaries

### **COALESCE vs. CASE expression**

> COALESCE(e1,e2,e3)
> 
>   
> 
> CASE
> 
>     WHEN e1 IS NOT NULL THEN e1
> 
>     WHEN e2 IS NOT NULL THEN e2
> 
>     ELSE e3
> 
> END

## **<mark>IIF()</mark>**

Hàm IIF () chấp nhận ba đối số. Nó đánh giá đối số đầu tiên và trả về đối số thứ hai nếu đối số đầu tiên là đúng; nếu không, nó trả về đối số thứ ba.

> IIF(boolean\_expression, true\_value, false\_value)

Trong cú pháp này:

- boolean\_expression là một biểu thức được đánh giá. Nó phải là một biểu thức Boolean hợp lệ, nếu không hàm sẽ phát sinh lỗi.
- true\_value là giá trị được trả về nếu biểu thức boolean\_expression đánh giá là true.
- false\_value là giá trị được trả về nếu biểu thức boolean\_expression được đánh giá là false.

Trên thực tế, hàm IIF () là viết tắt của một biểu thức CASE:

> CASE 
> 
>     WHEN boolean\_expression 
> 
>         THEN true\_value
> 
>     ELSE
> 
>         false\_value
> 
> END

In [ ]:
-- A) Sử dụng hàm SQL Server IIF () với một ví dụ đơn giản
SELECT 
    IIF(10 < 20, 'True', 'False') Result

In [ ]:
-- B) Sử dụng hàm SQL Server IIF () với ví dụ về cột bảng
SELECT    
    IIF(order_status = 1,'Pending', 
        IIF(order_status=2, 'Processing',
            IIF(order_status=3, 'Rejected',
                IIF(order_status=4,'Completed','N/A')
            )
        )
    ) order_status,
    COUNT(order_id) order_count
FROM    
    sales.orders
WHERE 
    YEAR(order_date) = 2018
GROUP BY 
    order_status

In [ ]:
-- C) Sử dụng hàm SQL Server IIF () với các hàm tổng hợp
SELECT    
    SUM(IIF(order_status = 1, 1, 0)) AS 'Pending', 
    SUM(IIF(order_status = 2, 1, 0)) AS 'Processing', 
    SUM(IIF(order_status = 3, 1, 0)) AS 'Rejected', 
    SUM(IIF(order_status = 4, 1, 0)) AS 'Completed', 
    COUNT(*) AS Total
FROM    
    sales.orders
WHERE 
    YEAR(order_date) = 2017

## **<mark>Subquery</mark>**

Truy vấn con là một truy vấn được lồng bên trong một câu lệnh khác như SELECT, INSERT, UPDATE hoặc DELETE

In [ ]:
SELECT
    order_id,
    order_date,
    customer_id
FROM
    sales.orders
WHERE
    customer_id IN (
        SELECT
            customer_id
        FROM
            sales.customers
        WHERE
            city = 'New York'
    )
ORDER BY
    order_date DESC

**<mark>Nesting subquery</mark>**

Một truy vấn con có thể được lồng trong một truy vấn con khác. SQL Server hỗ trợ tối đa 32 cấp độ lồng nhau

In [ ]:
SELECT
    product_name,
    list_price
FROM
    production.products
WHERE
    list_price > (
        SELECT
            AVG (list_price)
        FROM
            production.products
        WHERE
            brand_id IN (
                SELECT
                    brand_id
                FROM
                    production.brands
                WHERE
                    brand_name = 'Strider'
                OR brand_name = 'Trek'
            )
    )
ORDER BY
    list_price

In [ ]:
SELECT
    brand_id
FROM
    production.brands
WHERE
    brand_name = 'Strider'
OR brand_name = 'Trek'

In [ ]:
SELECT
    AVG (list_price)
FROM
    production.products
WHERE
    brand_id IN (6,9)

Bạn có thể sử dụng một truy vấn con ở nhiều nơi:

- Thay cho một biểu thức
- IN hoặc NOT IN
- Với ANY hoặc ALL
- EXISTS hoặc NOT EXISTS
- Trong câu lệnh UPDATE, DELETE hoặc INSERT
- Trong mệnh đề FROM

In [ ]:
-- Truy vấn con SQL Server được sử dụng thay cho một biểu thức
SELECT
    order_id,
    order_date,
    (
        SELECT
            MAX (list_price)
        FROM
            sales.order_items i
        WHERE
            i.order_id = o.order_id
    ) AS max_list_price
FROM
    sales.orders o
order by order_date desc

In [ ]:
-- Truy vấn con SQL Server được sử dụng với toán tử IN
SELECT
    product_id,
    product_name
FROM
    production.products
WHERE
    category_id IN (
        SELECT
            category_id
        FROM
            production.categories
        WHERE
            category_name = 'Mountain Bikes'
        OR category_name = 'Road Bikes'
    )

**<mark>Truy vấn con SQL Server được sử dụng với toán tử ANY</mark>**

Toán tử ANY là một toán tử logic so sánh một giá trị vô hướng với một tập hợp giá trị cột đơn được trả về bởi một truy vấn con.

> scalar\_expression comparison\_operator ANY (subquery)

Trong cú pháp này:

- scalar\_expression là bất kỳ biểu thức hợp lệ nào.
- comparison\_operator là bất kỳ toán tử so sánh nào.
- subquery là một câu lệnh SELECT trả về tập kết quả của một cột duy nhất với dữ liệu giống như kiểu dữ liệu của biểu thức vô hướng.

Giả sử rằng truy vấn con trả về một danh sách có giá trị v1, v2,… vn. Toán tử ANY trả về TRUE nếu một trong các cặp so sánh (biểu thức vô hướng, vi) đánh giá là TRUE; nếu không, nó trả về FALSE.

In [ ]:
SELECT
    product_name,
    list_price
FROM
    production.products
WHERE
    list_price >= ANY (
        SELECT
            AVG (list_price)
        FROM
            production.products
        GROUP BY
            brand_id
    )

**<mark>Truy vấn con SQL Server được sử dụng với toán tử ALL</mark>**

Toán tử SQL Server ALL là một toán tử logic so sánh một giá trị vô hướng với một danh sách giá trị cột đơn được trả về bởi một truy vấn con.

> scalar\_expression comparison\_operator ALL (subquery)

Trong cú pháp này:

- scalar\_expression là bất kỳ biểu thức hợp lệ nào.
- comparison\_operator là bất kỳ toán tử so sánh hợp lệ nào bao gồm bằng (=), không bằng (\<\>), lớn hơn (\>), lớn hơn hoặc bằng (\> =), nhỏ hơn (\<), nhỏ hơn hoặc bằng (\<=).
- subquery trong dấu ngoặc đơn là câu lệnh SELECT trả về kết quả của một cột duy nhất. Ngoài ra, kiểu dữ liệu của cột trả về phải cùng kiểu dữ liệu với kiểu dữ liệu của biểu thức vô hướng.

In [ ]:
SELECT
    product_name,
    list_price
FROM
    production.products
WHERE
    list_price >= ALL (
        SELECT
            AVG (list_price)
        FROM
            production.products
        GROUP BY
            brand_id
    )

**<mark>SQL Server subquery in the FROM clause</mark>**

In [ ]:
-- Tìm giá trị trung bình của tổng số đơn đặt hàng của tất cả các nhân viên kinh doanh
SELECT 
   staff_id, 
   COUNT(order_id) order_count
FROM 
   sales.orders
GROUP BY 
   staff_id

In [ ]:
SELECT 
   AVG(order_count) average_order_count_by_staff
FROM
(
    SELECT 
	staff_id, 
        COUNT(order_id) order_count
    FROM 
	sales.orders
    GROUP BY 
	staff_id
) t

Truy vấn mà bạn đặt trong mệnh đề FROM <mark>phải có bí danh bảng</mark>. Trong ví dụ này, chúng tôi sử dụng t làm bí danh bảng cho truy vấn con. Để đưa ra kết quả cuối cùng, SQL Server thực hiện các bước sau:

- Thực thi truy vấn con trong mệnh đề FROM.
- Sử dụng kết quả của truy vấn con và thực hiện truy vấn bên ngoài.

## **<mark>CTE (Common Table Expression)</mark>**

CTE là viết tắt của biểu thức bảng chung. CTE cho phép bạn xác định một tập kết quả được đặt tên tạm thời có sẵn tạm thời trong phạm vi thực thi của một câu lệnh như SELECT, INSERT, UPDATE, DELETE hoặc MERGE.  

> WITH expression\_name\[(column\_name \[,...\])\]
> 
> AS
> 
>     (CTE\_definition)
> 
> SQL\_statement

Trong cú pháp này:

- Đầu tiên, hãy chỉ định tên biểu thức (expression\_name) mà bạn có thể tham khảo sau này trong một truy vấn.
- Tiếp theo, chỉ định danh sách các cột được phân tách bằng dấu phẩy sau expression\_name. Số cột phải giống với số cột được xác định trong CTE\_definition.
- Sau đó, sử dụng từ khóa AS sau tên biểu thức hoặc danh sách cột nếu danh sách cột được chỉ định.
- Sau đó, xác định một câu lệnh SELECT mà tập kết quả của nó sẽ điền vào biểu thức bảng chung.
- Cuối cùng, hãy tham chiếu đến biểu thức bảng chung trong một truy vấn (SQL\_statement) chẳng hạn như SELECT, INSERT, UPDATE, DELETE hoặc MERGE.

In [ ]:
WITH cte_sales_amounts (staff, sales, year) AS (
    SELECT    
        first_name + ' ' + last_name, 
        SUM(quantity * list_price * (1 - discount)),
        YEAR(order_date)
    FROM    
        sales.orders o
    INNER JOIN sales.order_items i ON i.order_id = o.order_id
    INNER JOIN sales.staffs s ON s.staff_id = o.staff_id
    GROUP BY 
        first_name + ' ' + last_name,
        year(order_date)
)

SELECT
    staff, 
    sales
FROM 
    cte_sales_amounts
WHERE
    year = 2018

In [ ]:
WITH cte_sales AS (
    SELECT 
        staff_id, 
        COUNT(*) order_count  
    FROM
        sales.orders
    WHERE 
        YEAR(order_date) = 2018
    GROUP BY
        staff_id

)
SELECT
    AVG(order_count) average_orders_by_staff
FROM 
    cte_sales

In [ ]:
WITH cte_category_counts (
    category_id, 
    category_name, 
    product_count
)
AS (
    SELECT 
        c.category_id, 
        c.category_name, 
        COUNT(p.product_id)
    FROM 
        production.products p
        INNER JOIN production.categories c 
            ON c.category_id = p.category_id
    GROUP BY 
        c.category_id, 
        c.category_name
),
cte_category_sales(category_id, sales) AS (
    SELECT    
        p.category_id, 
        SUM(i.quantity * i.list_price * (1 - i.discount))
    FROM    
        sales.order_items i
        INNER JOIN production.products p 
            ON p.product_id = i.product_id
        INNER JOIN sales.orders o 
            ON o.order_id = i.order_id
    WHERE order_status = 4 -- completed
    GROUP BY 
        p.category_id
) 

SELECT 
    c.category_id, 
    c.category_name, 
    c.product_count, 
    s.sales
FROM
    cte_category_counts c
    INNER JOIN cte_category_sales s 
        ON s.category_id = c.category_id
ORDER BY 
    c.category_name

## **<mark>Temporary Tables</mark>**

Bảng tạm thời là bảng tồn tại tạm thời trên SQL Server.

Các bảng tạm thời rất hữu ích để lưu trữ các tập kết quả tức thì được truy cập nhiều lần.

**Tạo bảng tạm thời bằng câu lệnh SELECT INTO**

> SELECT   
>     select\_list  
> INTO   
>     temporary\_table  
> FROM   
>     table\_name  
> ....

Tên của bảng tạm thời bắt đầu bằng ký hiệu băm <mark>(#)</mark>. Ví dụ, câu lệnh sau tạo một bảng tạm thời bằng cách sử dụng câu lệnh <mark>SELECT INTO</mark>:

In [ ]:
SELECT
    product_name,
    list_price
INTO #trek_products --- temporary table
FROM
    production.products
WHERE
    brand_id = 9

**<mark>Tạo bảng tạm thời bằng cách sử dụng câu lệnh CREATE TABLE</mark>**

In [ ]:
CREATE TABLE #haro_products (
    product_name VARCHAR(MAX),
    list_price DEC(10,2)
)

In [ ]:
INSERT INTO #haro_products
SELECT
    product_name,
    list_price
FROM 
    production.products
WHERE
    brand_id = 2

In [ ]:
SELECT
    *
FROM
    #haro_products

### **<mark>Global temporary tables</mark>**

Đôi khi, bạn có thể muốn tạo một bảng tạm thời có thể truy cập được qua các kết nối. Trong trường hợp này, bạn có thể sử dụng các bảng tạm thời chung.

Không giống như bảng tạm thời, tên của bảng tạm thời toàn cục bắt đầu bằng ký hiệu băm kép <mark>(##)</mark>.

In [ ]:
CREATE TABLE ##heller_products (
    product_name VARCHAR(MAX),
    list_price DEC(10,2)
);

INSERT INTO ##heller_products
SELECT
    product_name,
    list_price
FROM 
    production.products
WHERE
    brand_id = 3