## **<mark>RANK()</mark>**

Hàm RANK () là một hàm cửa sổ (window function) chỉ định thứ hạng cho mỗi hàng trong một phân vùng của tập kết quả.

Các hàng trong một phân vùng có cùng giá trị sẽ nhận được cùng một thứ hạng. Xếp hạng của hàng đầu tiên trong một phân vùng là một. Hàm RANK () thêm số hàng ràng buộc vào thứ hạng bị ràng buộc để tính thứ hạng của hàng tiếp theo, do đó, các thứ hạng có thể không liên tiếp.

Cú pháp:

> RANK() OVER (
> 
>     \[PARTITION BY partition\_expression, ... \]
> 
>     ORDER BY sort\_expression \[ASC | DESC\], ...
> 
> )

Trong cú pháp này:

- Đầu tiên, mệnh đề PARTITION BY chia các hàng của phân vùng tập kết quả mà hàm được áp dụng.
- Thứ hai, mệnh đề ORDER BY chỉ định thứ tự sắp xếp hợp lý của các hàng trong mỗi phân vùng mà hàm được áp dụng.

In [ ]:
-- DEMO
CREATE TABLE sales.rank_demo (
	v VARCHAR(10)
)

INSERT INTO sales.rank_demo(v)
VALUES('A'),('B'),('B'),('C'),('C'),('D'),('E')

In [ ]:
SELECT
	v,
	RANK () OVER ( 
		ORDER BY v 
	) rank_no 
FROM
	sales.rank_demo

Ở kết quả trên, hàng thứ hai và thứ ba nhận cùng thứ hạng vì chúng có cùng giá trị B. Hàng thứ tư và thứ năm nhận thứ hạng 4 vì hàm RANK () bỏ qua thứ hạng 3 và cả hai đều có các giá trị giống nhau.

In [ ]:
-- Ví dụ sau sử dụng hàm RANK () để chỉ định cấp bậc cho các sản phẩm theo giá niêm yết của chúng:
SELECT
	product_id,
	product_name,
	list_price,
	RANK () OVER (
		ORDER BY list_price DESC
	) price_rank 
FROM
	production.products

In [ ]:
-- Ví dụ này sử dụng hàm RANK () để chỉ định thứ hạng cho từng sản phẩm theo giá niêm yết ở mỗi thương hiệu
SELECT
    product_id,
    product_name,
    brand_id,
    list_price,
    RANK () OVER ( 
        PARTITION BY brand_id
        ORDER BY list_price DESC
    ) price_rank 
FROM
    production.products

## **<mark>DENSE\_RANK()</mark>**

DENSE\_RANK () là một hàm cửa sổ chỉ định thứ hạng cho mỗi hàng trong một phân vùng của tập kết quả. Không giống như hàm RANK (), hàm DENSE\_RANK () trả về các giá trị xếp hạng liên tiếp. Các hàng trong mỗi phân vùng nhận cùng thứ hạng nếu chúng có cùng giá trị.

  

Cú pháp:

> DENSE\_RANK() OVER (
> 
>     \[PARTITION BY partition\_expression, ... \]
> 
>     ORDER BY sort\_expression \[ASC | DESC\], ...
> 
> )

Hàm DENSE\_RANK () được áp dụng cho các hàng của mỗi phân vùng được xác định bởi mệnh đề PARTITION BY, theo một thứ tự xác định, được định nghĩa bởi mệnh đề ORDER BY. Nó đặt lại thứ hạng khi ranh giới phân vùng bị vượt qua.

Mệnh đề PARITION BY là tùy chọn. Nếu bạn bỏ qua nó, hàm sẽ coi toàn bộ tập hợp kết quả là một phân vùng duy nhất.

In [ ]:
SELECT
	v,
	DENSE_RANK() OVER (
		ORDER BY v
	) my_dense_rank,
	RANK() OVER (
		ORDER BY v
	) my_rank
FROM
	sales.rank_demo

In [ ]:
-- Ví dụ sau sử dụng hàm DENSE_RANK () để xếp hạng sản phẩm theo giá niêm yết
SELECT
	product_id,
	product_name,
	list_price,
	DENSE_RANK () OVER ( 
		ORDER BY list_price DESC
	) price_rank 
FROM
	production.products

In [ ]:
-- Câu lệnh sau đây xếp hạng các sản phẩm trong từng danh mục theo giá niêm yết
SELECT
    product_id,
    product_name,
    category_id,
    list_price,
    DENSE_RANK () OVER ( 
        PARTITION BY category_id
        ORDER BY list_price DESC
    ) price_rank 
FROM
    production.products

## **<mark>ROW\_NUMBER()</mark>**

<span style="font-size: 14px;">ROW_NUMBER () là một hàm cửa sổ chỉ định một số nguyên tuần tự cho mỗi hàng trong phân vùng của tập kết quả. Số hàng bắt đầu bằng 1 cho hàng đầu tiên trong mỗi phân vùng.</span>

<span style="font-size: 14px;">Cú pháp:</span>

> <span style="font-size: 14px;">ROW_NUMBER() OVER (</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [PARTITION BY partition_expression, ... ]</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; ORDER BY sort_expression [ASC | DESC], ...</span>
> 
> <span style="font-size: 14px;">)</span>

PARTITION BY

<span style="font-size: 14px;">- Mệnh đề PARTITION BY chia tập hợp kết quả thành các phân vùng (một thuật ngữ khác cho các nhóm hàng). Hàm ROW_NUMBER () được áp dụng cho từng phân vùng riêng biệt và khởi động lại số hàng cho từng phân vùng.</span>

<span style="font-size: 14px;">- Mệnh đề PARTITION BY là tùy chọn. Nếu bạn bỏ qua, hàm ROW_NUMBER () sẽ coi toàn bộ tập hợp kết quả là một phân vùng duy nhất.</span>

ORDER BY

<span style="font-size: 14px;">-&nbsp;</span> Mệnh đề ORDER BY xác định thứ tự logic của các hàng trong mỗi phân vùng của tập kết quả. Mệnh đề ORDER BY là bắt buộc vì hàm ROW\_NUMBER () nhạy cảm với thứ tự.

In [ ]:
SELECT
	v,
	DENSE_RANK() OVER (
		ORDER BY v
	) my_dense_rank,
	RANK() OVER (
		ORDER BY v
	) my_rank,
    ROW_NUMBER() OVER (
        ORDER BY v
    ) my_row_number
FROM
	sales.rank_demo

In [ ]:
SELECT
	v,
	DENSE_RANK() OVER (
		ORDER BY v
	) my_dense_rank,
	RANK() OVER (
		ORDER BY v
	) my_rank,
    ROW_NUMBER() OVER (
        PARTITION BY v
        ORDER BY v
    ) my_row_number
FROM
	sales.rank_demo

In [ ]:
-- Ví dụ sau sử dụng hàm ROW_NUMBER () để gán một số nguyên tuần tự cho mỗi khách hàng. Nó đặt lại số khi thành phố thay đổi:
SELECT 
   first_name, 
   last_name, 
   city,
   ROW_NUMBER() OVER (
      PARTITION BY city
      ORDER BY first_name
   ) row_num
FROM 
   sales.customers
ORDER BY 
   city

## **<mark>LAG()</mark>**

<span style="font-size: 14px;">LAG () là một hàm cửa sổ cung cấp quyền truy cập vào một hàng tại một khoảng chênh lệch vật lý được chỉ định đứng trước hàng hiện tại.</span>

<span style="font-size: 14px;">Nói cách khác, bằng cách sử dụng hàm LAG (), từ hàng hiện tại, bạn có thể truy cập dữ liệu của hàng trước hoặc hàng trước hàng trước, v.v.</span>

<span style="font-size: 14px;">Hàm LAG () có thể rất hữu ích để so sánh giá trị của hàng hiện tại với giá trị của hàng trước đó.</span>

Cú pháp:

> <span style="font-size: 14px;">LAG(return_value ,offset [,default])&nbsp;</span> 
> 
> <span style="font-size: 14px;">OVER (</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [PARTITION BY partition_expression, ... ]</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; ORDER BY sort_expression [ASC | DESC], ...</span>
> 
> <span style="font-size: 14px;">)</span>

<span style="font-size: 14px;">Trong cú pháp này:</span>

- return\_value: Giá trị trả về của hàng trước đó dựa trên độ lệch được chỉ định. Giá trị trả về phải đánh giá thành một giá trị duy nhất và không thể là một hàm cửa sổ khác.
- offset: Số hàng trở lại từ hàng hiện tại để truy cập dữ liệu. offset có thể là một biểu thức, truy vấn con hoặc cột được đánh giá là một số nguyên dương. Giá trị mặc định của offset là 1 nếu bạn không chỉ định nó một cách rõ ràng.
- default: Giá trị mặc định là giá trị được trả về nếu offset vượt ra ngoài phạm vi của phân vùng. Nó mặc định là NULL nếu nó không được chỉ định.
- PARTITION BY: Mệnh đề PARTITION BY phân phối các hàng của tập kết quả thành các phân vùng mà hàm LAG () được áp dụng. Nếu bạn bỏ qua mệnh đề PARTITION BY, hàm sẽ coi toàn bộ tập hợp kết quả là một phân vùng duy nhất.
- ORDER BY: Mệnh đề ORDER BY chỉ định thứ tự logic của các hàng trong mỗi phân vùng mà hàm LAG () được áp dụng.

In [ ]:
SELECT
	YEAR(o.[order_date]) AS [Year]
	,MONTH(o.[order_date]) AS [Month]
	,b.[brand_name] AS [BrandName]
	,SUM(oi.[quantity] * oi.[list_price] * (1 - oi.[discount])) AS [NetSales]
FROM [sales].[order_items] oi
LEFT JOIN [sales].[orders] o
	ON oi.[order_id] = o.[order_id]
LEFT JOIN [production].[products] p
	ON oi.[product_id] = p.[product_id]
LEFT JOIN [production].[brands] b
	ON p.[brand_id] = b.[brand_id]
GROUP BY 
	YEAR(o.[order_date])
	,MONTH(o.[order_date])
	,b.[brand_name]
ORDER BY [Year], [Month], [BrandName]

In [ ]:
WITH cte_netsales
AS
(
    SELECT
        YEAR(o.[order_date]) AS [Year]
        ,MONTH(o.[order_date]) AS [Month]
        ,b.[brand_name] AS [BrandName]
        ,SUM(oi.[quantity] * oi.[list_price] * (1 - oi.[discount])) AS [NetSales]
    FROM [sales].[order_items] oi
    LEFT JOIN [sales].[orders] o
        ON oi.[order_id] = o.[order_id]
    LEFT JOIN [production].[products] p
        ON oi.[product_id] = p.[product_id]
    LEFT JOIN [production].[brands] b
        ON p.[brand_id] = b.[brand_id]
    GROUP BY 
        YEAR(o.[order_date])
        ,MONTH(o.[order_date])
        ,b.[brand_name]
)
,cte_netsales_2018 
AS(
	SELECT 
		[Month]
        ,SUM([NetSales]) AS [MonthNetSales]
	FROM 
		cte_netsales
	WHERE 
		[Year] = 2018
	GROUP BY 
		[Month]
)
SELECT 
	[Month],
	[MonthNetSales],
	LAG([MonthNetSales], 1) OVER (
		ORDER BY [Month]
	) [PreviousMonthNetSales]
FROM cte_netsales_2018

In [ ]:
WITH cte_netsales
AS
(
    SELECT
        YEAR(o.[order_date]) AS [Year]
        ,MONTH(o.[order_date]) AS [Month]
        ,b.[brand_name] AS [BrandName]
        ,SUM(oi.[quantity] * oi.[list_price] * (1 - oi.[discount])) AS [NetSales]
    FROM [sales].[order_items] oi
    LEFT JOIN [sales].[orders] o
        ON oi.[order_id] = o.[order_id]
    LEFT JOIN [production].[products] p
        ON oi.[product_id] = p.[product_id]
    LEFT JOIN [production].[brands] b
        ON p.[brand_id] = b.[brand_id]
    GROUP BY 
        YEAR(o.[order_date])
        ,MONTH(o.[order_date])
        ,b.[brand_name]
)
SELECT 
	[Month],
	[BrandName],
	[NetSales] AS [MonthNetSales],
	LAG([NetSales], 1) OVER (
		PARTITION BY [BrandName]
		ORDER BY [Month]
	) [PreviousMonthNetSales]
FROM cte_netsales
WHERE
	[Year] = 2018

## **<mark>LEAD()</mark>**

<span style="font-size: 14px;">LEAD () là một hàm cửa sổ cung cấp quyền truy cập vào một hàng tại một khoảng chênh lệch vật lý được chỉ định theo sau hàng hiện tại.</span>

<span style="font-size: 14px;">Ví dụ: bằng cách sử dụng hàm LEAD (), từ hàng hiện tại, bạn có thể truy cập dữ liệu của hàng tiếp theo hoặc hàng sau hàng tiếp theo, v.v.</span>

<span style="font-size: 14px;">Hàm LEAD () có thể rất hữu ích để so sánh giá trị của hàng hiện tại với giá trị của hàng sau.</span>

<span style="font-size: 14px;">Cú pháp:</span>

> <span style="font-size: 14px;">LEAD(return_value ,offset [,default])&nbsp;</span> 
> 
> <span style="font-size: 14px;">OVER (</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [PARTITION BY partition_expression, ... ]</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; ORDER BY sort_expression [ASC | DESC], ...</span>
> 
> <span style="font-size: 14px;">)</span>

In [ ]:
WITH cte_netsales
AS
(
    SELECT
        YEAR(o.[order_date]) AS [Year]
        ,MONTH(o.[order_date]) AS [Month]
        ,b.[brand_name] AS [BrandName]
        ,SUM(oi.[quantity] * oi.[list_price] * (1 - oi.[discount])) AS [NetSales]
    FROM [sales].[order_items] oi
    LEFT JOIN [sales].[orders] o
        ON oi.[order_id] = o.[order_id]
    LEFT JOIN [production].[products] p
        ON oi.[product_id] = p.[product_id]
    LEFT JOIN [production].[brands] b
        ON p.[brand_id] = b.[brand_id]
    GROUP BY 
        YEAR(o.[order_date])
        ,MONTH(o.[order_date])
        ,b.[brand_name]
)
,cte_netsales_2017
AS(
	SELECT 
		[Month]
        ,SUM([NetSales]) AS [MonthNetSales]
	FROM 
		cte_netsales
	WHERE 
		[Year] = 2017
	GROUP BY 
		[Month]
)
SELECT 
	[Month],
	[MonthNetSales],
	LEAD([MonthNetSales], 1) OVER (
		ORDER BY [Month]
	) [PreviousMonthNetSales]
FROM cte_netsales_2017

In [ ]:
WITH cte_netsales
AS
(
    SELECT
        YEAR(o.[order_date]) AS [Year]
        ,MONTH(o.[order_date]) AS [Month]
        ,b.[brand_name] AS [BrandName]
        ,SUM(oi.[quantity] * oi.[list_price] * (1 - oi.[discount])) AS [NetSales]
    FROM [sales].[order_items] oi
    LEFT JOIN [sales].[orders] o
        ON oi.[order_id] = o.[order_id]
    LEFT JOIN [production].[products] p
        ON oi.[product_id] = p.[product_id]
    LEFT JOIN [production].[brands] b
        ON p.[brand_id] = b.[brand_id]
    GROUP BY 
        YEAR(o.[order_date])
        ,MONTH(o.[order_date])
        ,b.[brand_name]
)
SELECT 
	[Month],
	[BrandName],
	[NetSales] AS [MonthNetSales],
	LEAD([NetSales], 1) OVER (
		PARTITION BY [BrandName]
		ORDER BY [Month]
	) [PreviousMonthNetSales]
FROM cte_netsales
WHERE
	[Year] = 2017