## **<mark>UNION và UNION ALL</mark>**

\- Ý nghĩa: UNION là một trong những hoạt động tập hợp cho phép bạn kết hợp kết quả của hai câu lệnh SELECT thành một tập kết quả duy nhất bao gồm tất cả các hàng thuộc về câu lệnh SELECT trong liên hợp.

\- Cú pháp:

> query\_1
> 
> UNION
> 
> query\_2

Các yêu cầu đối với các truy vấn trong cú pháp trên:

- Số lượng và thứ tự của các cột phải giống nhau trong cả hai truy vấn.
- Các kiểu dữ liệu của các cột tương ứng phải giống nhau hoặc tương thích.

Theo mặc định, toán tử UNION loại bỏ tất cả các hàng trùng lặp khỏi tập kết quả. Tuy nhiên, nếu bạn muốn giữ lại các hàng trùng lặp, bạn cần chỉ định từ khóa ALL một cách rõ ràng như cú pháp dưới:

> query\_1
> 
> UNION ALL
> 
> query\_2

UNION vs. JOIN: 

- Phép nối như INNER JOIN hoặc LEFT JOIN kết hợp các cột từ hai bảng trong khi UNION kết hợp các hàng từ hai truy vấn.
- Nói cách khác, join nối kết quả theo chiều ngang trong khi union nối kết quả được đặt theo chiều dọc.

In [ ]:
-- Ví dụ sau kết hợp tên của nhân viên và khách hàng thành một danh sách:
SELECT
    first_name,
    last_name
FROM
    sales.staffs

UNION

SELECT
    first_name,
    last_name
FROM
    sales.customers

In [ ]:
SELECT
    COUNT (*)
FROM
    sales.staffs
-- 10       

SELECT
    COUNT (*)
FROM
    sales.customers
-- 1454

In [ ]:
SELECT
    first_name,
    last_name
FROM
    sales.staffs
UNION ALL
SELECT
    first_name,
    last_name
FROM
    sales.customers

UNION và ORDER BY

Để sắp xếp tập hợp kết quả được trả về bởi toán tử UNION, bạn đặt mệnh đề ORDER BY trong truy vấn cuối cùng như sau:

> SELECT
> 
>     select\_list
> 
> FROM
> 
>     table\_1
> 
> UNION
> 
> SELECT
> 
>     select\_list
> 
> FROM
> 
>     table\_2
> 
> ORDER BY
> 
>     order\_list

In [ ]:
SELECT
    first_name,
    last_name
FROM
    sales.staffs
UNION ALL
SELECT
    first_name,
    last_name
FROM
    sales.customers
ORDER BY
    first_name,
    last_name

## **<mark>INTERSECT</mark>**

\- Ý nghĩa: INTERSECT kết hợp các bộ kết quả của hai hoặc nhiều truy vấn và trả về các hàng riêng biệt được xuất ra bởi cả hai truy vấn.

\- Cú pháp: 

> query\_1
> 
> INTERSECT
> 
> query\_2

Tương tự như toán tử UNION, các truy vấn trong cú pháp ở trên phải tuân theo các quy tắc sau:

- Cả hai truy vấn phải có cùng số lượng và thứ tự cột.
- Kiểu dữ liệu của các cột tương ứng phải giống nhau hoặc tương thích.

In [ ]:
SELECT
    city
FROM
    sales.customers

INTERSECT

SELECT
    city
FROM
    sales.stores
ORDER BY
    city

## **<mark>EXCEPT</mark>**

\- Ý nghĩa: EXCEPT so sánh tập hợp kết quả của hai truy vấn và trả về các hàng khác biệt với truy vấn đầu tiên mà không được xuất ra bởi truy vấn thứ hai. Nói cách khác, EXCEPT trừ tập kết quả của một truy vấn từ một truy vấn khác.

\- Cú pháp:

> query\_1
> 
> EXCEPT
> 
> query\_2

Sau đây là các quy tắc để kết hợp tập kết quả của hai truy vấn theo cú pháp trên:

- Số lượng và thứ tự của các cột phải giống nhau trong cả hai truy vấn.
- Các kiểu dữ liệu của các cột tương ứng phải giống nhau hoặc tương thích.

In [ ]:
-- Ví dụ sau sử dụng toán tử EXCEPT để tìm các sản phẩm không có doanh số bán hàng:
SELECT
    product_id
FROM
    production.products

EXCEPT

SELECT
    product_id
FROM
    sales.order_items

In [ ]:
SELECT
    p.product_id
FROM
    production.products p
LEFT JOIN sales.order_items oit 
    ON p.product_id = oit.product_id
WHERE oit.order_id IS NULL

In [ ]:
-- Ví dụ sau tìm các sản phẩm không có doanh số và sắp xếp các sản phẩm theo id của chúng theo thứ tự tăng dần:
SELECT
    product_id
FROM
    production.products

EXCEPT

SELECT
    product_id
FROM
    sales.order_items
ORDER BY 
	product_id

## **<mark>Các hàm xử lý chuỗi</mark>**

[String Functions (Transact-SQL) - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/string-functions-transact-sql?view=sql-server-ver15)

**<mark>CHARINDEX()</mark>**

\- Ý nghĩa: Tìm kiếm một chuỗi con bên trong một chuỗi bắt đầu từ một vị trí được chỉ định. Nó trả về vị trí của chuỗi con được tìm thấy trong chuỗi được tìm kiếm hoặc bằng không nếu chuỗi con không được tìm thấy. Vị trí bắt đầu được trả về là dựa trên 1, không dựa trên 0.

\- Cú pháp: 

> CHARINDEX(substring, string \[, start\_location\])

Trong cú pháp này:

- <span style="background-color:rgba(127, 127, 127, 0.1);">Substring</span>: chuỗi con cần tìm kiếm. Độ dài của nó được giới hạn ở 8.000 ký tự.
- <span style="background-color:rgba(127, 127, 127, 0.1);">String:</span> có thể là một chuỗi ký tự, biểu thức hoặc cột. Nó là một chuỗi để tìm kiếm.
- <span style="background-color:rgba(127, 127, 127, 0.1);">Start_location:</span> là vị trí bắt đầu tìm kiếm. Start\_location là một số nguyên, số nguyên lớn hoặc một biểu thức đánh giá một giá trị của các kiểu dữ liệu đó.

Lưu ý rằng hàm CHARINDEX () có thể thực hiện cả tìm kiếm phân biệt chữ hoa chữ thường và không phân biệt chữ hoa chữ thường dựa trên đối chiếu được chỉ định.

In [ ]:
--A) Sử dụng CHARINDEX () để thực hiện một tìm kiếm
SELECT 
    CHARINDEX('SQL', 'SQL Server CHARINDEX') position

In [ ]:
--B) Sử dụng hàm CHARINDEX () để thực hiện tìm kiếm không phân biệt chữ hoa chữ thường
SELECT 
    CHARINDEX(
        'SERVER', 
        'SQL Server CHARINDEX'
    ) position

In [ ]:
--C) Sử dụng hàm CHARINDEX () để thực hiện tìm kiếm phân biệt chữ hoa chữ thường
SELECT 
    CHARINDEX(
        'SERVER', 
        'SQL Server CHARINDEX' 
        COLLATE Latin1_General_CS_AS
    ) position

In [ ]:
--D) Sử dụng hàm CHARINDEX () để tìm kiếm một chuỗi con không tồn tại
DECLARE @haystack VARCHAR(100)
SELECT @haystack = 'This is a haystack'
SELECT CHARINDEX('needle', @haystack)

In [ ]:
--E) Sử dụng hàm CHARINDEX () để tìm kiếm từ một vị trí cụ thể
SELECT 
    CHARINDEX('is','This is a my sister',5) start_at_fifth,
    CHARINDEX('is','This is a my sister',10) start_at_tenth;

**<mark>CONCAT()</mark>**

\- Ý nghĩa: Để nối hai hoặc nhiều chuỗi thành một

\- Cú pháp: 

> CONCAT ( input\_string1, input\_string2 \[, input\_stringN \] );

CONCAT () nhận hai tối đa 255 chuỗi đầu vào và nối chúng thành một. Nó yêu cầu ít nhất hai chuỗi đầu vào. Nếu bạn chuyển một chuỗi đầu vào, hàm CONCAT () sẽ phát sinh lỗi.

Nếu bạn chuyển các giá trị chuỗi không phải ký tự, hàm CONCAT () sẽ chuyển đổi ngầm các giá trị đó thành chuỗi trước khi nối.

Hàm CONCAT () cũng chuyển đổi NULL thành một chuỗi rỗng với kiểu VARCHAR (1).

Lưu ý rằng để thêm dấu phân tách trong quá trình nối, bạn sử dụng hàm CONCAT\_WS ().

In [ ]:
-- Sử dụng hàm CONCAT () với chuỗi ký tự
SELECT 
    'John' + ' ' + 'Doe' AS full_name

In [ ]:
--Sử dụng hàm CONCAT () với các cột trong bảng
SELECT 
    customer_id,
    first_name,
    last_name,
    CONCAT(first_name, ' ', last_name) full_name
FROM 
    sales.customers
ORDER BY 
    full_name

In [ ]:
--Sử dụng hàm CONCAT () với NULL
SELECT 
    CONCAT(
        CHAR(13), -- sử dụng hàm CHAR () để lấy ký tự dòng mới trong ví dụ này
        CONCAT(first_name,' ',last_name),
        CHAR(13),
        phone,
        CHAR(13),
        CONCAT(city,' ',state),
        CHAR(13),
        zip_code
    ) customer_address
FROM
    sales.customers
ORDER BY 
    first_name,
    last_name

**<mark>CONCAT\_WS()</mark>**

\- Ý nghĩa: Nối hai hoặc nhiều chuỗi thành một chuỗi bằng dấu phân cách

\- Cú pháp:

> CONCAT\_WS(separator,input\_string1,input\_string2,\[...input\_stringN\])

Trong cú pháp này:

- separator là một biểu thức dựa trên ký tự đánh giá bất kỳ ký tự nào thuộc loại CHAR, NCHAR, VARCHAR hoặc NVARCHAR.
- input\_string1 đến input\_stringN là các biểu thức thuộc bất kỳ loại nào. Hàm CONCAT\_WS () chuyển đổi ngầm các giá trị của kiểu không phải ký tự thành kiểu ký tự trước khi nối.
- Hàm CONCAT\_WS () nối các chuỗi đầu vào thành một chuỗi duy nhất. Nó phân tách các chuỗi được nối đó bằng dấu phân cách được chỉ định trong đối số đầu tiên.

Lưu ý rằng CONCAT\_WS () yêu cầu ít nhất hai chuỗi đầu vào.

Hàm CONCAT\_WS () coi NULL là một chuỗi rỗng kiểu VARCHAR (1). Nó cũng không thêm dấu phân cách giữa các NULL. Do đó, hàm CONCAT\_WS () có thể nối các chuỗi có giá trị trống.

In [ ]:
-- A) Sử dụng CONCAT_WS () để nối các chuỗi ký tự bằng dấu phân cách
SELECT 
    CONCAT_WS(' ', 'John', 'Doe') full_name

In [ ]:
-- B) Sử dụng CONCAT_WS () với các cột trong bảng
SELECT 
    first_name, 
    last_name, 
    CONCAT_WS(', ', last_name, first_name) full_name
FROM 
    sales.customers
ORDER BY 
    first_name, 
    last_name

In [ ]:
-- C) Sử dụng CONCAT_WS () với NULL
SELECT 
    CONCAT_WS(',', 1, 2, NULL, NULL, 3)

In [ ]:
SELECT 
    CONCAT_WS
    (
        CHAR(13), 
        CONCAT(first_name, ' ', last_name), 
        phone, 
        CONCAT(city, ' ', state), 
        zip_code,
        '---'
    ) customer_address
FROM 
    sales.customers
ORDER BY 
    first_name, 
    last_name

In [ ]:
-- D) Sử dụng CONCAT_WS () để tạo tệp CSV
SELECT 
    CONCAT_WS(',', first_name, last_name, email)
FROM 
    sales.customers
ORDER BY 
    first_name, 
    last_name

**<mark>LEN()</mark>**

\- Ý nghĩa: Trả về số ký tự của một chuỗi đầu vào, không bao gồm các khoảng trống ở cuối.

\- Cú pháp:

> LEN(input\_string)

Trong cú pháp này, input\_string có thể là một chuỗi ký tự chữ, biểu thức chuỗi hoặc một cột chứa ký tự hoặc dữ liệu nhị phân.

Hàm LEN () trả về một giá trị có kiểu dữ liệu là BIGINT nếu input\_string thuộc kiểu dữ liệu VARCHAR (max), NVARCHAR (max) hoặc VARBINARY (max); nếu không, INT.

In [ ]:
-- A) Sử dụng hàm LEN () với một chuỗi ký tự
SELECT
    LEN('SQL Server LEN') length,
    LEN('SQL Server LEN   ') length_with_trailing_blanks

In [ ]:
-- B) Sử dụng hàm LEN () với một cột
SELECT
    product_name,
    LEN(product_name) product_name_length
FROM
    production.products
ORDER BY
    LEN(product_name) DESC

**<mark>LEFT() / RIGHT()</mark>**

\- Ý nghĩa: Trích xuất một số ký tự nhất định từ phía bên trái (hoặc bên phải) của một chuỗi được cung cấp

\- Cú pháp:

> LEFT ( input\_string , number\_of\_characters ) 
> 
> RIGHT ( input\_string , number\_of\_characters )

Trong cú pháp này:

- input\_string có thể là một chuỗi ký tự, biến hoặc cột. Kết quả của input\_string có thể ở bất kỳ kiểu dữ liệu nào, ngoại trừ TEXT hoặc NTEXT, được chuyển đổi hoàn toàn thành VARCHAR hoặc NVARCHAR.
- number\_of\_characters là một số nguyên dương xác định số lượng ký tự của chuỗi đầu vào sẽ được trả về.

Lưu ý rằng hàm LEFT() / RIGHT() trả về giá trị VARCHAR khi input\_string là kiểu dữ liệu ký tự không phải Unicode hoặc NVARCHAR nếu input\_string là kiểu dữ liệu ký tự Unicode.

In [ ]:
-- A) sử dụng hàm LEFT() / RIGHT() với một chuỗi ký tự chữ
SELECT LEFT('SQL Server',3) Result_string
SELECT RIGHT('SQL Server',6) Result_string

In [ ]:
-- B) Sử dụng hàm LEFT() / RIGHT() với một cột bảng
SELECT 
    product_name,
    LEFT(product_name, 7) first_7_characters
FROM 
    production.products
ORDER BY 
    product_name

In [ ]:
SELECT 
    product_name,
    RIGHT(product_name, 4) last_4_characters
FROM 
    production.products
ORDER BY 
    product_name

In [ ]:
-- C) Sử dụng hàm LEFT() / RIGHT() với mệnh đề GROUP BY
SELECT
	LEFT(product_name, 1) initial,  
	COUNT(product_name) product_count
FROM 
	production.products
GROUP BY
	left(product_name, 1)
ORDER BY 
	initial

In [ ]:
SELECT
	RIGHT(product_name, 4) year,  
	COUNT(product_name) product_count
FROM 
	production.products
GROUP BY
	RIGHT(product_name, 4)
ORDER BY 
	year

**<mark>LTRIM() / RTRIM()</mark>**

\- Ý nghĩa: trả về một chuỗi sau khi loại bỏ các khoảng trống ở đầu (LTRIM) hoặc các khoảng trống ở cuối (RTRIM)

\- Cú pháp:

> LTRIM(input\_string)
> 
> RTRIM(input\_string)

Trong cú pháp này, input\_string là một biểu thức của ký tự hoặc dữ liệu nhị phân. Nó có thể là một chuỗi ký tự, biến hoặc cột

input\_string phải là giá trị của một kiểu dữ liệu, ngoại trừ TEXT, NTEXT và IMAGE, có thể chuyển đổi hoàn toàn thành VARCHAR. Nếu không, bạn phải sử dụng hàm CAST () để chuyển đổi nó thành một chuỗi ký tự một cách rõ ràng.

In [ ]:
-- Sử dụng hàm LTRIM() / RTRIM() với các chuỗi ký tự
SELECT 
    LTRIM('   SQL Server LTRIM Function') result

In [ ]:
SELECT 
    RTRIM('SQL Server RTRIM Function   ') result

**<mark>TRIM()</mark>**

\- Ý nghĩa: Loại bỏ khoảng trắng hoặc các ký tự được chỉ định khỏi cả hai đầu của một chuỗi

\- Cú pháp:

> TRIM(\[removed\_characters FROM\] input\_string)

Trong cú pháp này:

- removed\_characters là một cột chữ, biến hoặc bảng của bất kỳ loại ký tự không phải Large-Object (NVARCHAR, VARCHAR, NCHAR hoặc CHAR) chứa các ký tự sẽ bị xóa. Lưu ý rằng loại NVARCHAR (MAX) và VARCHAR (MAX) không được phép. Đối số remove\_characters là tùy chọn. Nếu bạn bỏ qua, hàm TRIM () sẽ trả về một chuỗi sau khi cắt bớt tất cả các khoảng trắng đầu và cuối từ input\_string. Nó có tác dụng tương tự như sử dụng cả hàm LTRIM () và RTRIM (): RTRIM (LTRIM (input\_string).
- input\_string là một biểu thức của bất kỳ loại ký tự nào (NVARCHAR, VARCHAR, NCHAR hoặc CHAR) trong đó các ký tự loại bỏ sẽ được loại bỏ.

Hàm TRIM () trả về một chuỗi trong đó các ký tự loại bỏ được xóa khỏi cả hai bên trái và phải. Nó trả về NULL nếu input\_string là NULL.

In [ ]:
-- A) Xóa các khoảng trắng ở đầu và cuối khỏi một chuỗi
SELECT 
    TRIM('  Test string    ')

In [ ]:
-- B) Sử dụng hàm TRIM () để xóa các ký tự được chỉ định từ cả hai phía của một chuỗi
SELECT 
    TRIM('.$' FROM '$$$Hello..') result

**<mark>REPLACE()</mark>**

\- Ý nghĩa: Để thay thế tất cả các lần xuất hiện của một chuỗi con trong một chuỗi bằng một chuỗi con mới

\- Cú pháp:

> REPLACE(input\_string, substring, new\_substring)

Trong cú pháp này:

- input\_string là bất kỳ biểu thức chuỗi nào được tìm kiếm.
- substring là chuỗi con được thay thế.
- new\_substring là chuỗi thay thế.

Hàm REPLACE () trả về một chuỗi mới trong đó tất cả các lần xuất hiện của chuỗi con được thay thế bởi new\_substring. Nó trả về NULL nếu bất kỳ đối số nào là NULL.

In [ ]:
-- A) Sử dụng hàm REPLACE () với các chuỗi ký tự
SELECT 
    REPLACE(
        'It is a good tea at the famous tea store.', 
        'tea', 
        'coffee'
    ) result

In [ ]:
-- B) Sử dụng hàm REPLACE () với các cột trong bảng
SELECT    
	first_name, 
	last_name, 
	phone, 
	REPLACE(REPLACE(phone, '(', ''), ')', '') phone_formatted
FROM    
	sales.customers
WHERE phone IS NOT NULL
ORDER BY 
	first_name, 
	last_name

**<mark>SUBSTRING()</mark>**

\- Ý nghĩa: Trích xuất một chuỗi con có độ dài được chỉ định bắt đầu từ một vị trí trong chuỗi đầu vào

\- Cú pháp:

> SUBSTRING(input\_string, start, length)

Trong cú pháp này:

- input\_string có thể là một ký tự, nhị phân, văn bản, ntext hoặc biểu thức hình ảnh.
- start là một số nguyên chỉ định vị trí bắt đầu chuỗi con trả về. Lưu ý rằng ký tự đầu tiên trong input\_string là 1, không phải là 0.
- length là một số nguyên dương xác định số ký tự của chuỗi con được trả về. Hàm SUBSTRING () phát sinh lỗi nếu độ dài là âm. Nếu start + length\> độ dài của input\_string, chuỗi con sẽ bắt đầu ở đầu và bao gồm các ký tự còn lại của input\_string.

In [ ]:
-- A) Sử dụng hàm SUBSTRING () với các chuỗi ký tự
SELECT 
    SUBSTRING('SQL Server SUBSTRING', 5, 6) result

In [ ]:
-- B) Sử dụng hàm SUBSTRING () với các cột trong bảng
SELECT 
    email, 
    SUBSTRING(
        email, 
        CHARINDEX('@', email)+1, 
        LEN(email)-CHARINDEX('@', email)
    ) domain
FROM 
    sales.customers
ORDER BY 
    email

In [ ]:
SELECT 
    SUBSTRING(
        email, 
        CHARINDEX('@', email)+1, 
        LEN(email)-CHARINDEX('@', email)
    ) domain,
    COUNT(email) domain_count
FROM 
    sales.customers
GROUP BY
    SUBSTRING(
            email, 
            CHARINDEX('@', email)+1, 
            LEN(email)-CHARINDEX('@', email)
        )

**<mark>LOWER() / UPPER()</mark>**

\- Ý nghĩa: chuyển đổi một chuỗi thành chữ thường (LOWER) hoặc chữ hoa (UPPER)

\- Cú pháp:

> LOWER(input\_string)
> 
> UPPER(input\_string)

Trong cú pháp này, input\_string có thể là một chuỗi ký tự chữ, biến, biểu thức chuỗi ký tự hoặc cột bảng.

Loại input\_string phải được chuyển đổi hoàn toàn thành VARCHAR. Nếu không, bạn phải sử dụng hàm CAST () để chuyển đổi input\_string một cách rõ ràng.

In [ ]:
-- A) Sử dụng hàm LOWER() / UPPER() với các chuỗi ký tự
SELECT 
    LOWER('TEST') result

In [ ]:
SELECT 
    UPPER('sql') result

In [ ]:
-- B) Sử dụng hàm LOWER() / UPPER() với cột bảng
SELECT 
    first_name, 
    last_name, 
    CONCAT_WS(
        ' ', 
        LOWER(first_name), 
        LOWER(last_name)
    ) full_name_lowercase
FROM 
    sales.customers
ORDER BY 
    first_name, 
    last_name

In [ ]:
SELECT 
    product_name, 
    UPPER(product_name) product_name_upper
FROM 
    production.products
ORDER BY 
    product_name

## **<mark>Các hàm xử lí thời gian</mark>**

[Date and Time Data Types and Functions - SQL Server (Transact-SQL) | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/date-and-time-data-types-and-functions-transact-sql?view=sql-server-ver15)

### **<mark>1.  Các hàm trả về ngày và giờ hiện tại</mark>**

In [ ]:
SELECT 
    CURRENT_TIMESTAMP AS [CURRENT_TIMESTAMP] -- Trả về ngày và giờ hệ thống hiện tại mà không có phần múi giờ
    ,GETUTCDATE() AS [GETUTCDATE] -- Trả về ngày và giờ UTC của hệ thống hiện tại mà không có phần múi giờ
    ,GETDATE() AS [GETDATE] -- Trả về ngày và giờ hệ thống hiện tại mà không có phần múi giờ
    ,SYSDATETIME() AS [SYSDATETIME] -- Trả về ngày và giờ của hệ thống hiện tại với độ chính xác giây phân số nhiều hơn so với hàm GETDATE ().
    ,SYSUTCDATETIME() AS [SYSUTCDATETIME] -- Trả về ngày và giờ UTC của hệ thống hiện tại với độ chính xác giây phân số nhiều hơn so với hàm GETDATE ().
    ,SYSDATETIMEOFFSET() AS [SYSDATETIMEOFFSET] -- Trả về ngày và giờ và múi giờ của hệ thống hiện tại với độ chính xác giây phân số nhiều hơn so với hàm GETDATE ().

### **<mark>2\. Các hàm trả về phần ngày và giờ</mark>**

**<mark>DATENAME() và DATEPART()</mark>**

\- Ý nghĩa: Trả về một phần ngày của ngày dưới dạng một chuỗi ký tự (DATENAME) hoặc dưới dạng số nguyên (DATEPART)

\- Cú pháp: 

> DATENAME( date\_part, input\_date )
> 
> DATEPART( date\_part, input\_date )

Trong đó:

- date\_part là một phần của ngày tháng sẽ được trích xuất. (Xem chi tiết trong [DATENAME (Transact-SQL) - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/datename-transact-sql?view=sql-server-ver15)).
- input\_date là ngày mà phần ngày tháng được trích xuất.

In [ ]:
SELECT
    DATEPART(year, '2018-05-10') [datepart], 
    DATENAME(year, '2018-05-10') [datename]

In [ ]:
SELECT
    DATEPART(year, '2018-05-10') + '1' [datepart], 
    DATENAME(year, '2018-05-10') + '1' [datename]

In [ ]:
DECLARE @dt DATETIME2 = SYSDATETIME();

SELECT 
    'year,yyy,yy' date_part
    ,DATENAME(year, @dt) result_dn
    ,DATEPART(year, @dt) result_dp

UNION

SELECT 
    'quarter, qq, q'
    ,DATENAME(quarter, @dt)
    ,DATEPART(quarter, @dt)

UNION

SELECT 
    'month, mm, m'
    ,DATENAME(month, @dt)
    ,DATEPART(month, @dt)

UNION

SELECT 
    'dayofyear, dy, y'
    ,DATENAME(dayofyear, @dt)
    ,DATEPART(dayofyear, @dt)

UNION

SELECT 
    'day, dd, d'
    ,DATENAME(day, @dt)
    ,DATEPART(day, @dt)

UNION

SELECT 
    'week, wk, ww'
    ,DATENAME(week, @dt)
    ,DATEPART(week, @dt)

UNION

SELECT 
    'weekday, dw, w'
    ,DATENAME(weekday, @dt)
    ,DATEPART(weekday, @dt)

UNION

SELECT 
    'hour, hh' date_part
    ,DATENAME(hour, @dt)
    ,DATEPART(hour, @dt)

UNION

SELECT 
    'minute, mi,n'
    ,DATENAME(minute, @dt)
    ,DATEPART(minute, @dt)

UNION

SELECT 
    'second, ss, s'
    ,DATENAME(second, @dt)
    ,DATEPART(second, @dt)

UNION

SELECT 
    'millisecond, ms'
    ,DATENAME(millisecond, @dt)
    ,DATEPART(millisecond, @dt)

UNION

SELECT 
    'microsecond, mcs'
    ,DATENAME(microsecond, @dt)
    ,DATEPART(microsecond, @dt)

UNION

SELECT 
    'nanosecond, ns' 
    ,DATENAME(nanosecond, @dt)
    ,DATEPART(nanosecond, @dt)

UNION

SELECT 
    'TZoffset, tz'
    ,DATENAME(tz, @dt)
    ,DATEPART(tz, @dt)

UNION

SELECT 
    'ISO_WEEK, ISOWK, ISOWW'
    ,DATENAME(ISO_WEEK, @dt)
    ,DATEPART(ISO_WEEK, @dt)

In [ ]:
-- Ví dụ sau sử dụng hàm DATEPART () để truy vấn tổng doanh thu theo năm, quý, tháng và ngày.
SELECT DATEPART(year, shipped_date) [year], 
       DATEPART(quarter, shipped_date) [quarter], 
       DATEPART(month, shipped_date) [month], 
       DATEPART(day, shipped_date) [day], 
       SUM(quantity * list_price) [gross_sales]
FROM sales.orders o
     INNER JOIN sales.order_items i ON i.order_id = o.order_id
WHERE shipped_date IS NOT NULL
GROUP BY DATEPART(year, shipped_date), 
         DATEPART(quarter, shipped_date), 
         DATEPART(month, shipped_date), 
         DATEPART(day, shipped_date)
ORDER BY [year] DESC, 
         [quarter] ASC,
         [month] ASC,
         [day] ASC

**<mark>DAY() / MONTH() / YEAR()</mark>**

In [ ]:
SELECT
    DAY(GETDATE()) AS [DAY]
    ,MONTH(GETDATE()) AS [MONTH]
    ,YEAR(GETDATE()) AS [YEAR]

### **<mark>3\. Hàm trả về sự khác biệt giữa hai ngày</mark>**

**<mark>DATEDIFF()</mark>**

\- Ý nghĩa: Tính toán số năm, tháng, tuần, ngày, v.v., giữa hai ngày.

\- Cú pháp:

> DATEDIFF( date\_part , start\_date , end\_date)

Trong đó:

- date\_part là một phần của ngày, ví dụ: một năm, một quý, một tháng, một tuần mà bạn muốn so sánh giữa start\_date và end\_date. (Xem chi tiết: [DATEDIFF (Transact-SQL) - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/datediff-transact-sql?view=sql-server-ver15))
- start\_date và end\_date là những ngày được so sánh. Chúng phải được phân giải thành các giá trị kiểu DATE, DATETIME, DATETIMEOFFSET, DATETIME2, SMALLATETIME hoặc TIME.

In [ ]:
DECLARE 
    @start_dt DATETIME2= '2021-12-31 23:59:59.9999999', 
    @end_dt DATETIME2= '2022-01-01 00:00:00.0000000';

SELECT 
    DATEDIFF(year, @start_dt, @end_dt) diff_in_year, 
    DATEDIFF(quarter, @start_dt, @end_dt) diff_in_quarter, 
    DATEDIFF(month, @start_dt, @end_dt) diff_in_month, 
    DATEDIFF(dayofyear, @start_dt, @end_dt) diff_in_dayofyear, 
    DATEDIFF(day, @start_dt, @end_dt) diff_in_day, 
    DATEDIFF(week, @start_dt, @end_dt) diff_in_week, 
    DATEDIFF(hour, @start_dt, @end_dt) diff_in_hour, 
    DATEDIFF(minute, @start_dt, @end_dt) diff_in_minute, 
    DATEDIFF(second, @start_dt, @end_dt) diff_in_second, 
    DATEDIFF(millisecond, @start_dt, @end_dt) diff_in_millisecond;

### **<mark>4. Các hàm sửa đổi giá trị ngày và giờ</mark>**

**<mark>DATEADD()</mark>**

\- Ý nghĩa: Thêm một giá trị vào một phần ngày của ngày và trả về giá trị ngày mới.

\- Cú pháp:

> DATEADD (date\_part , value , input\_date )

Trong đó:

- date\_part là phần ngày mà hàm DATEADD () sẽ thêm giá trị. (Xem thêm [DATEADD (Transact-SQL) - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/dateadd-transact-sql?view=sql-server-ver15))
- value là một số nguyên được thêm vào phần ngày tháng của input\_date. Nếu giá trị là số thập phân hoặc số thực, thì hàm DATEADD () sẽ cắt bớt phần thập phân. Nó sẽ không làm tròn số trong trường hợp này.
- input\_date là một giá trị ngày theo nghĩa đen hoặc một biểu thức có thể phân giải thành giá trị thuộc loại DATE, DATETIME, DATETIMEOFFSET, DATETIME2, SMALLATETIME hoặc TIME

In [ ]:
SELECT 
    DATEADD(day, 1, getdate()) result;

In [ ]:
-- Ví dụ này sử dụng hàm DATEADD () để tính ngày vận chuyển ước tính dựa trên ngày đã đặt hàng:
SELECT 
    order_id, 
    customer_id, 
    order_date,
    DATEADD(day, 2, order_date) estimated_shipped_date
FROM 
    sales.orders
WHERE 
    shipped_date IS NULL
ORDER BY 
    estimated_shipped_date DESC;

In [ ]:
SELECT 
    DATEADD(month, -1, '2022-01-31') AS result

**<mark>EOMONTH()</mark>**

\- Ý nghĩa: Trả về ngày cuối cùng của tháng có chứa ngày được chỉ định, với một khoảng chênh lệch tùy chọn (offset).

\- Cú pháp: 

> EOMONTH(start\_date \[, offset\] )

Trong đó:

- start\_date là một biểu thức ngày tháng đánh giá một ngày tháng. Hàm EOMONTH () trả về ngày cuối cùng của tháng cho ngày này.
- offset là một số nguyên chỉ định số tháng cần thêm vào start\_date.

Nếu việc thêm offset và start\_date dẫn đến một ngày không hợp lệ, thì hàm EOMONTH () sẽ gây ra lỗi.

In [ ]:
-- A) Sử dụng hàm EOMONTH () cho một ngày
SELECT 
    EOMONTH('2022-03-28') end_of_month_mar2022

In [ ]:
-- B) Sử dụng hàm EOMONTH () để lấy số ngày trong một tháng cụ thể
SELECT 
    DAY(EOMONTH('2022-03-28')) days

In [ ]:
-- C) Sử dụng EOMONTH () với một khoảng chênh lệch tùy chọn
SELECT 
    EOMONTH('2022-03-28', 2) eomonth_next_2_months;

### **<mark>5\. Các hàm tạo giá trị ngày và giờ từ các phần thời gian</mark>**

**<mark>DATEFROMPART()</mark>**

\- Ý nghĩa: Trả về giá trị DATE từ năm, tháng và ngày

\- Cú pháp:

> DATEFROMPARTS(year, month, day)

Trong đó:

- year là một biểu thức số nguyên phân giải thành một năm
- tháng là một biểu thức số nguyên đánh giá một tháng nằm trong khoảng từ 1 đến 12.
- day là một biểu thức số nguyên chỉ định một ngày, nằm trong khoảng từ 1 đến 31

Hàm DATEFROMPARTS () trả về giá trị DATE. Nếu bất kỳ đối số nào là NULL, hàm sẽ trả về NULL.

In [ ]:
SELECT 
    DATEFROMPARTS(2021,12,31) a_date

In [ ]:
SELECT 
    DATEFROMPARTS(2021,null,31) a_date

In [ ]:
SELECT 
    DATEFROMPARTS(2021,20,-1) a_date

**<mark>TIMEFROMPART()</mark>**

\- Ý nghĩa: Trả về giá trị TIME từ các phần thời gian với các phân vùng

\- Cú pháp:

> TIMEFROMPARTS ( hour, minute, seconds, fractions, precision ) 

Trong đó:

- hour - chỉ định giờ.
- minute - chỉ định phút.
- second - chỉ định giây.
- fraction - xác định phân số.
- precision - chỉ định độ chính xác của giá trị thời gian. <mark>Độ chính xác không được để trống. Nếu nó là null, hàm sẽ báo lỗi.</mark>

In [ ]:
SELECT 
    TIMEFROMPARTS(23, 59, 59, 0, 0) AS Time

In [ ]:
SELECT 
    TIMEFROMPARTS(06, 30, 15, 5, 2) Time

## **<mark>Các hàm chuyển đổi</mark>**

In [ ]:
SELECT 1 + '1' AS result

[CAST and CONVERT (Transact-SQL) - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/cast-and-convert-transact-sql?view=sql-server-ver15)

**<mark>CAST()</mark>**

\- Ý nghĩa: Chuyển đổi một giá trị hoặc một biểu thức từ kiểu này sang kiểu khác.

\- Cú pháp:

> CAST ( expression AS target\_type \[ ( length ) \] ) 

Trong cú pháp này:

- expression có thể là một giá trị chữ hoặc một biểu thức hợp lệ của bất kỳ loại nào sẽ được chuyển đổi.
- target\_type là kiểu dữ liệu đích mà bạn muốn chuyển đổi biểu thức. Nó bao gồm INT, BIT, SQL\_VARIANT, v.v. Lưu ý rằng nó không thể là kiểu dữ liệu bí danh.
- length là một số nguyên tùy chọn chỉ định độ dài của kiểu đích. Độ dài mặc định là 30.

In [ ]:
-- Ví dụ này sử dụng hàm CAST () để chuyển đổi số thập phân 5.95 thành số nguyên:
SELECT CAST(5.95 AS INT) result

In [ ]:
-- Sử dụng hàm CAST () để chuyển đổi một số thập phân sang một số thập phân khác có độ dài khác
SELECT CAST(5.95 AS DEC(3,0)) result

In [ ]:
-- Sử dụng hàm CAST () để chuyển đổi một chuỗi thành một ví dụ về giá trị datetime
SELECT 
    CAST('2019-03-14' AS DATETIME) result

In [ ]:
-- Sử dụng hàm CAST () với các toán tử số học
SELECT 
    MONTH(order_date) month, 
    CAST(SUM(quantity * list_price * (1 - discount)) AS INT) amount
FROM sales.orders o
    INNER JOIN sales.order_items i ON o.order_id = i.order_id
WHERE 
    YEAR(order_date) = 2017
GROUP BY 
    MONTH(order_date)
ORDER BY 
    month

**<mark>CONVERT()</mark>**

\- Ý nghĩa: Tương tự CAST()

\- Cú pháp:

> CONVERT ( target\_type \[ ( length ) \] , expression \[ , style \] )  

Trong cú pháp này:

- target\_type là kiểu dữ liệu đích mà bạn muốn chuyển đổi biểu thức. Nó bao gồm INT, BIT, SQL\_VARIANT, v.v. Lưu ý rằng nó không thể là kiểu dữ liệu bí danh.
- length là một số nguyên xác định độ dài của kiểu đích. Độ dài là tùy chọn và mặc định là 30.
- expression là một biểu thức hợp lệ của bất kỳ kiểu nào sẽ được chuyển đổi.
- style là một số nguyên tùy chọn xác định cách hàm CONVERT () sẽ dịch biểu thức. Nếu kiểu là NULL, hàm CONVERT () sẽ trả về NULL.

Hàm CONVERT () trả về giá trị của biểu thức được dịch sang target\_type với một kiểu được chỉ định.

CONVERT () tương tự như hàm CAST (). Tuy nhiên, nó dành riêng cho SQL Server. Ngược lại, hàm CAST () là một phần của hàm ANSI-SQL, có sẵn rộng rãi trong nhiều sản phẩm cơ sở dữ liệu khác.

In [ ]:
-- Sử dụng hàm CONVERT () để chuyển đổi ví dụ số thập phân thành số nguyên
SELECT CONVERT(INT, 9.95) result

In [ ]:
-- Sử dụng hàm CONVERT () để chuyển đổi một số thập phân sang một số thập phân khác với ví dụ về độ dài khác nhau
SELECT CAST(9.95 AS DEC(2,0)) result

In [ ]:
-- Sử dụng hàm CONVERT () để chuyển đổi một chuỗi thành ví dụ về giá trị ngày giờ
SELECT 
    CONVERT(DATETIME, '2019-03-14') result

In [ ]:
-- Sử dụng hàm CONVERT () để chuyển đổi giá trị ngày giờ thành ví dụ về giá trị chuỗi
SELECT 
    CONVERT(VARCHAR, GETDATE(),13) result

**<mark>ISNULL()</mark>**

\- Ý nghĩa: Thay thế NULL bằng một giá trị được chỉ định.

\- Cú pháp:

> ISNULL(expression, replacement)

- expression là một biểu thức của bất kỳ kiểu nào được kiểm tra cho NULL.
- replacement là giá trị được trả về nếu biểu thức là NULL. replacement phải được chuyển đổi thành một giá trị của kiểu biểu thức.

Hàm ISNULL () trả về giá trị thay thế nếu biểu thức đánh giá là NULL. Trước khi trả về một giá trị, nó sẽ ngầm chuyển đổi kiểu thay thế thành kiểu của biểu thức nếu kiểu của hai đối số khác nhau.

In [ ]:
SELECT 
    ISNULL(NULL,20) result

In [ ]:
SELECT 
    ISNULL('Hello', 'Hi') Result