## **<mark>PRIMARY KEY</mark>**

Khóa chính là một cột hoặc một nhóm cột xác định duy nhất mỗi hàng trong bảng. Bạn tạo khóa chính cho bảng bằng cách sử dụng ràng buộc KHÓA CHÍNH.

Nếu khóa chính chỉ bao gồm một cột, bạn có thể xác định bằng cách sử dụng ràng buộc **PRIMARY KEY** làm ràng buộc cột:

> <span style="color: #0000ff;">CREATE</span> <span style="color: #0000ff;">TABLE</span> table\_name (
> 
>     pk\_column data\_type <span style="color: #0000ff;">PRIMARY</span> <span style="color: #0000ff;">KEY</span>,
> 
>     ...
> 
> )

Trong trường hợp khóa chính có hai hoặc nhiều cột, bạn phải sử dụng ràng buộc KHÓA CHÍNH làm ràng buộc bảng:

> <span style="color: #0000ff;">CREATE</span> <span style="color: #0000ff;">TABLE</span> table\_name (
> 
>     pk\_column\_1 data\_type,
> 
>     pk\_column\_2 <span style="color: #0000ff;">data</span> <span style="color: #0000ff;">type</span>,
> 
>     ...
> 
>     <span style="color: #0000ff;">PRIMARY</span> <span style="color: #0000ff;">KEY</span> (pk\_column\_1, pk\_column\_2)
> 
> )

Lưu ý

- <mark>Mỗi bảng chỉ có thể chứa một khóa chính.</mark> 
- <mark>Tất cả các cột tham gia vào khóa chính phải được định nghĩa là NOT NULL. SQL Server tự động đặt ràng buộc NOT NULL cho tất cả các cột khóa chính nếu ràng buộc NOT NULL không được chỉ định cho các cột này.</mark>

SQL Server cũng tự động tạo chỉ mục nhóm duy nhất (unique clustered index) (hoặc chỉ mục không phân cụm (non-clustered index) nếu được chỉ định như vậy) khi bạn tạo khóa chính.

Ví dụ

In [1]:
-- Ví dụ sau tạo một bảng có khóa chính bao gồm một cột:
CREATE TABLE sales.activities (
    activity_id INT PRIMARY KEY IDENTITY,
    activity_name VARCHAR (255) NOT NULL,
    activity_date DATE NOT NULL
)

-- Hoặc
CREATE TABLE sales.activities1 (
    activity_id INT IDENTITY,
    activity_name VARCHAR (255) NOT NULL,
    activity_date DATE NOT NULL,
    CONSTRAINT PK_activities PRIMARY KEY (activity_id)
)

In [ ]:
-- Trong ví dụ này, các giá trị trong cột activity_id hoặc customer_id có thể trùng lặp, nhưng mỗi kết hợp giá trị từ cả hai cột phải là duy nhất.
CREATE TABLE sales.participants(
    activity_id int,
    customer_id int,
    PRIMARY KEY(activity_id, customer_id)
)

-- Hoặc
CREATE TABLE sales.participants (
    activity_id INT IDENTITY,
    activity_name VARCHAR (255) NOT NULL,
    activity_date DATE NOT NULL,
    CONSTRAINT PK_participants PRIMARY KEY(activity_id, customer_id)
)

In [ ]:
-- Câu lệnh sau tạo một bảng không có khóa chính:
CREATE TABLE sales.events(
    event_id INT NOT NULL,
    event_name VARCHAR(255),
    start_date DATE NOT NULL,
    duration DEC(5,2)
)

In [ ]:
-- Để đặt cột event_id làm khóa chính, bạn sử dụng câu lệnh ALTER TABLE và ADD sau:
ALTER TABLE sales.events 
ADD PRIMARY KEY(event_id)

-- Hoặc
ALTER TABLE sales.events
ADD CONSTRAINT PK_events PRIMARY KEY (event_id)

In [ ]:
-- Để xóa khóa chính, bạn sử dụng câu lệnh ALTER TABLE và DROP sau:
ALTER TABLE sales.events
DROP PRIMARY KEY

-- Hoặc
ALTER TABLE sales.events
DROP CONSTRAINT PK_events

## **<mark>FOREIGN KEY</mark>**

In [ ]:
CREATE SCHEMA procurement
GO

In [ ]:
CREATE TABLE procurement.vendor_groups (
    group_id INT IDENTITY PRIMARY KEY,
    group_name VARCHAR (100) NOT NULL
)

CREATE TABLE procurement.vendors (
        vendor_id INT IDENTITY PRIMARY KEY,
        vendor_name VARCHAR(100) NOT NULL,
        group_id INT NOT NULL,
)

Mỗi nhà cung cấp thuộc một nhóm nhà cung cấp và mỗi nhóm nhà cung cấp có thể có không hoặc nhiều nhà cung cấp. Mối quan hệ giữa các bảng nhà cung cấp và nhóm nhà cung cấp là một-nhiều (one-to-many)

Đối với mỗi hàng trong bảng nhà cung cấp, bạn luôn có thể tìm thấy một hàng tương ứng trong bảng nhóm nhà cung cấp.

Tuy nhiên, với thiết lập bảng hiện tại, bạn có thể chèn một hàng vào bảng nhà cung cấp mà không có hàng tương ứng trong bảng nhà cung cấp. Tương tự, bạn cũng có thể xóa một hàng trong bảng nhà cung cấp mà không cần cập nhật hoặc xóa các hàng tương ứng trong bảng nhà cung cấp dẫn đến các hàng bị tách biệt trong bảng nhà cung cấp.

Để thực thi liên kết giữa dữ liệu trong bảng nhà cung cấp và nhóm nhà cung cấp, bạn cần thiết lập khóa ngoại trong bảng nhà cung cấp.

<mark>Khóa ngoại (**FOREIGN KEY**) là một cột hoặc một nhóm cột trong một bảng xác định duy nhất một hàng của bảng khác (hoặc cùng một bảng trong trường hợp tự tham chiếu).</mark>

In [ ]:
DROP TABLE vendors

CREATE TABLE procurement.vendors (
        vendor_id INT IDENTITY PRIMARY KEY,
        vendor_name VARCHAR(100) NOT NULL,
        group_id INT NOT NULL,
        CONSTRAINT FK_vendors FOREIGN KEY (group_id) 
        REFERENCES procurement.vendor_groups(group_id)
)

Cú pháp chung để tạo ràng buộc NGOẠI KHÓA như sau:

> CONSTRAINT fk\_constraint\_name 
> 
> FOREIGN KEY (column\_1, column2,...)
> 
> REFERENCES parent\_table\_name(column1,column2,..)

Hoặc:

> FOREIGN KEY (column\_1, column2,...)
> 
> REFERENCES parent\_table\_name(column1,column2,..)

Ví dụ:

In [ ]:
-- Đầu tiên, hãy chèn một số hàng vào bảng vendor_groups:
INSERT INTO procurement.vendor_groups(group_name)
VALUES('Third-Party Vendors'),
      ('Interco Vendors'),
      ('One-time Vendors')

In [ ]:
--Thứ hai, chèn một nhà cung cấp mới với một nhóm nhà cung cấp vào bảng vendors:
INSERT INTO procurement.vendors(vendor_name, group_id)
VALUES('ABC Corp',1)

In [ ]:
--Thứ ba, cố gắng chèn một nhà cung cấp mới có nhóm nhà cung cấp không tồn tại trong bảng vendor_groups:
INSERT INTO procurement.vendors(vendor_name, group_id)
VALUES('XYZ Corp'4,)

Thêm sau khi đã tạo bảng và xóa FOREIGN KEY:

- Thêm FOREIGN KEY sau khi đã tạo bảng

> ALTER TABLE child\_table\_name
> 
> ADD CONSTRAINT fk\_constraint\_name 
> 
> FOREIGN KEY (column\_1, column2,...) REFERENCES parent\_table\_name(column1,column2,..)

hoặc

> ALTER TABLE child\_table\_name
> 
> ADD FOREIGN KEY (column\_1, column2,...) REFERENCES parent\_table\_name(column1,column2,..)

- Xóa FOREIGN KEY

> ALTER TABLE child\_table\_name
> 
> DROP CONSTRAINT fk\_constraint\_name

hoặc

> ALTER TABLE child\_table\_name
> 
> DROP FOREIGN KEY <mark>fk\_default\_constraint\_name</mark>

**<mark>Hành động tham chiếu (Referential actions)</mark>**

Ràng buộc khóa ngoại đảm bảo tính toàn vẹn của tham chiếu. Nó có nghĩa là bạn chỉ có thể chèn một hàng vào bảng con nếu có một hàng tương ứng trong bảng mẹ.

Bên cạnh đó, ràng buộc khóa ngoại cho phép bạn xác định các hành động tham chiếu khi hàng trong bảng mẹ được cập nhật hoặc xóa như sau:

> FOREIGN KEY (foreign\_key\_columns)
> 
>     REFERENCES parent\_table(parent\_key\_columns)
> 
>     ON UPDATE action 
> 
>     ON DELETE action

<u>Hành động xóa dòng trên bảng parent:</u>

- <mark>ON DELETE NO ACTION</mark>: SQL Server phát sinh lỗi và khôi phục hành động xóa trên hàng trong bảng parent.
- <mark>ON DELETE CASCADE:</mark> SQL Server xóa các hàng trong bảng child tương ứng với hàng đã xóa khỏi bảng parent.
- <mark>ON DELETE SET NULL:</mark> SQL Server đặt các hàng trong bảng child thành NULL nếu các hàng tương ứng trong bảng parent bị xóa. Để thực hiện hành động này, các cột khóa ngoại phải không có giá trị.
- <mark>ON DELETE SET DEFAULT</mark> SQL Server đặt các hàng trong bảng child thành giá trị mặc định của chúng nếu các hàng tương ứng trong bảng parent bị xóa. Để thực hiện hành động này, các cột khóa ngoại phải có định nghĩa mặc định. Lưu ý rằng cột nullable có giá trị mặc định là NULL nếu không có giá trị mặc định nào được chỉ định.

<mark>Theo mặc định, SQL Server áp dụng ON DELETE NO ACTION nếu bạn không chỉ định rõ ràng bất kỳ hành động nào.</mark>

<u>Hành động cập nhật dòng trên bảng parent:</u><mark>  
</mark>

- <mark>ON UPDATE NO ACTION</mark>: SQL Server phát sinh lỗi và khôi phục hành động cập nhật trên hàng trong bảng parent.
- <mark>ON UPDATE CASCADE</mark>: SQL Server cập nhật các hàng tương ứng trong bảng child khi các hàng trong bảng parent được cập nhật.
- <mark>ON UPDATE SET NUL</mark>L: SQL Server đặt các hàng trong bảng child thành NULL khi hàng tương ứng trong bảng parent được cập nhật. Lưu ý rằng các cột khóa ngoại phải có giá trị rỗng để hành động này thực thi.
- <mark>ON UPDATE SET DEFAULT</mark>: SQL Server đặt giá trị mặc định cho các hàng trong bảng child có các hàng tương ứng trong bảng parent được cập nhật.

<span style="color:rgb(0, 0, 0);background-color:rgb(255, 255, 0);">Theo mặc định, SQL Server áp dụng ON UPDATE NO ACTION nếu bạn không chỉ định rõ ràng bất kỳ hành động nào.</span>

## **<mark>CHECK</mark>**

Ràng buộc <mark>CHECK</mark> cho phép bạn chỉ định các giá trị trong cột phải thỏa mãn biểu thức Boolean

In [ ]:
CREATE SCHEMA test
GO

CREATE TABLE test.products(
    product_id INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    unit_price DEC(10,2) CHECK(unit_price > 0)
)

-- HOẶC
CREATE TABLE test.products(
    product_id INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    unit_price DEC(10,2) CONSTRAINT positive_price CHECK(unit_price > 0)
)

In [ ]:
INSERT INTO test.products(product_name, unit_price)
VALUES ('Awesome Free Bike', 0)

**<mark>SQL Server CHECK constraint and NULL</mark>**

Ràng buộc <mark>CHECK</mark> từ chối các giá trị khiến biểu thức Boolean được đánh giá là FALSE.

<mark>Vì NULL đánh giá là UNKNOWN, nó có thể được sử dụng trong biểu thức để bỏ qua một ràng buộc.</mark>

In [ ]:
INSERT INTO test.products(product_name, unit_price)
VALUES ('Another Awesome Bike', NULL)

Ràng buộc CHECK tham chiếu đến nhiều cột:

In [ ]:
-- Cách 1
CREATE TABLE test.products(
    product_id INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    unit_price DEC(10,2) CHECK(unit_price > 0),
    discounted_price DEC(10,2) CHECK(discounted_price > 0),
    CHECK(discounted_price < unit_price)
)

In [ ]:
-- Cách 2
CREATE TABLE test.products(
    product_id INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    unit_price DEC(10,2),
    discounted_price DEC(10,2),
    CHECK(unit_price > 0),
    CHECK(discounted_price > 0),
    CHECK(discounted_price > unit_price)
)

In [ ]:
-- Cách 3
CREATE TABLE test.products(
    product_id INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    unit_price DEC(10,2),
    discounted_price DEC(10,2),
    CHECK(unit_price > 0),
    CHECK(discounted_price > 0 AND discounted_price > unit_price)
)

In [ ]:
-- Cách 4
CREATE TABLE test.products(
    product_id INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    unit_price DEC(10,2),
    discounted_price DEC(10,2),
    CHECK(unit_price > 0),
    CHECK(discounted_price > 0),
    CONSTRAINT valid_prices CHECK(discounted_price > unit_price)
)

Thêm ràng buộc CHECK vào bảng hiện có

In [ ]:
DROP TABLE test.products
GO

CREATE TABLE test.products(
    product_id INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    unit_price DEC(10,2) NOT NULL
)

In [ ]:
-- Để thêm ràng buộc CHECK vào bảng test.products, bạn sử dụng câu lệnh sau:
ALTER TABLE test.products
ADD CONSTRAINT positive_price CHECK(unit_price > 0)

In [ ]:
-- Để thêm một cột mới với ràng buộc CHECK, bạn sử dụng câu lệnh sau:
ALTER TABLE test.products
ADD discounted_price DEC(10,2)
CHECK(discounted_price > 0)

In [ ]:
ALTER TABLE test.products
ADD CONSTRAINT valid_price 
CHECK(unit_price > discounted_price)

Loại bỏ các ràng buộc CHECK

In [ ]:
-- Để loại bỏ ràng buộc KIỂM TRA, bạn sử dụng câu lệnh ALTER TABLE DROP CONSTRAINT:
ALTER TABLE table_name
DROP CONSTRAINT constraint_name

In [ ]:
-- Câu lệnh kiểm tra các thông tin về constraint trên bảng
EXEC sp_help 'table_name'

In [ ]:
EXEC sp_help 'test.products'

In [ ]:
ALTER TABLE test.products
DROP CONSTRAINT positive_price

## **<mark>UNIQUE</mark>**

Các ràng buộc UNIQUE của SQL Server cho phép bạn đảm bảo rằng dữ liệu được lưu trữ trong một cột hoặc một nhóm cột là duy nhất giữa các hàng trong bảng.

In [ ]:
CREATE SCHEMA hr
GO

CREATE TABLE hr.persons(
    person_id INT IDENTITY PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE
)

-- Hoặc

CREATE TABLE hr.persons(
    person_id INT IDENTITY PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255),
    UNIQUE(email)
)

-- Hoặc

CREATE TABLE hr.persons (
    person_id INT IDENTITY PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255),
    CONSTRAINT unique_email UNIQUE(email)
);

In [ ]:
INSERT INTO hr.persons(first_name, last_name, email)
VALUES('John','Doe','j.doe@bike.stores')

In [ ]:
INSERT INTO hr.persons(first_name, last_name, email)
VALUES('Jane','Doe','j.doe@bike.stores')

**<mark>UNIQUE vs PRIMARY KEY</mark>**

Mặc dù cả ràng buộc UNIQUE và PRIMARY KEY đều thực thi tính duy nhất của dữ liệu, bạn nên sử dụng ràng buộc UNIQUE thay vì PRIMARY KEY khi bạn muốn thực thi tính duy nhất của một cột hoặc một nhóm cột không phải là cột khóa chính.

Khác với các ràng buộc PRIMARY KE, các ràng buộc UNIQUE cho phép NULL. Hơn nữa, ràng buộc UNIQUE coi NULL như một giá trị thông thường, do đó, nó chỉ cho phép một NULL trên mỗi cột.

In [ ]:
INSERT INTO hr.persons(first_name, last_name)
VALUES('John','Smith')

In [ ]:
INSERT INTO hr.persons(first_name, last_name)
VALUES('Lily','Bush')

**<mark>Ràng buộc UNIQUE cho một nhóm cột</mark>**

> <span style="color: #0000ff;">CREATE</span> <span style="color: #0000ff;">TABLE</span> table\_name (
> 
>     key\_column data\_type <span style="color: #0000ff;">PRIMARY</span> <span style="color: #0000ff;">KEY</span>,
> 
>     column1 data\_type,
> 
>     column2 data\_type,
> 
>     column3 data\_type,
> 
>     ...,
> 
>     <span style="color: #0000ff;">UNIQUE</span> (column1,column2)
> 
> )

In [ ]:
CREATE TABLE hr.person_skills (
    id INT IDENTITY PRIMARY KEY,
    person_id int,
    skill_id int,
    updated_at DATETIME,
    UNIQUE (person_id, skill_id)
)

**<mark>Thêm các ràng buộc UNIQUE vào các cột hiện có</mark>**

> ALTER TABLE table\_name
> 
> ADD CONSTRAINT constraint\_name 
> 
> UNIQUE(column1, column2,...)

hoặc

> ALTER TABLE table\_name
> 
> ADD UNIQUE(column1, column2,...)

In [ ]:
DROP TABLE hr.persons
GO

CREATE TABLE hr.persons (
    person_id INT IDENTITY PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255),
    phone VARCHAR(20),
)

In [ ]:
ALTER TABLE hr.persons
ADD CONSTRAINT unique_email UNIQUE(email)

In [ ]:
ALTER TABLE hr.persons
ADD CONSTRAINT unique_phone UNIQUE(phone)

**<mark>Xóa các ràng buộc UNIQUE</mark>**

> ALTER TABLE table\_name
> 
> DROP CONSTRAINT constraint_name

In [ ]:
ALTER TABLE hr.persons
DROP CONSTRAINT unique_phone