# **DEMO BUỔI 2**

In [1]:
USE [BikeStores]
GO

### **<mark>SELECT</mark>**

**Ý nghĩa:** Câu lệnh <mark>**SELECT**</mark> trong SQL được sử dụng để lấy dữ liệu từ một bảng cơ sở dữ liệu trả về dữ liệu này dưới dạng một bảng kết quả. Các bảng kết quả này được gọi là tập kết quả <mark>(result sets)</mark>.

**Cú pháp:**

> <span style="font-size: 14px;">SELECT&nbsp;</span> 
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; select_list&nbsp;</span> 
> 
> <span style="font-size: 14px;">FROM&nbsp;</span> 
> 
>  <span style="font-size: 14px;"><span style="white-space:pre"></span>&nbsp; &nbsp; &nbsp;database.schema_name.table_name</span>

**VD1: Lấy một vài cột từ bảng**

In [ ]:
SELECT
    [first_name]
    ,[last_name]
    ,[email]
FROM
    [sales].[customers]

VD2: Lấy toàn bộ cột trên bảng

In [ ]:
SELECT 
	*
FROM [sales].[customers]

**Lưu ý:**

<mark>**SELECT \***</mark> hữu ích trong việc kiểm tra các cột và dữ liệu của bảng mà bạn không quen thuộc. Nó cũng hữu ích cho các truy vấn đặc biệt. <mark>(ad-hoc queries)</mark>

Ngoài lý do trên, bạn không nên sử dụng <mark>**SELECT \***</mark> bởi 2 nguyên nhân chính:

1\. Đầu tiên, **<mark>SELECT \*</mark>** thường truy xuất nhiều dữ liệu hơn mức ứng dụng của bạn cần để hoạt động. Nó khiến dữ liệu không cần thiết phải chuyển từ SQL Server sang ứng dụng khách, mất nhiều thời gian hơn để dữ liệu di chuyển trên mạng và làm chậm ứng dụng.

2\. Thứ hai, nếu bảng được thêm một hoặc nhiều cột mới, thì **<mark>SELECT \*</mark>** sẽ truy xuất tất cả các cột bao gồm các cột mới được thêm vào không được sử dụng trong ứng dụng. Điều này có thể làm cho ứng dụng bị lỗi.

### **<mark>Alias</mark>**

Vấn đề: Tạo thêm cột full\_name bằng việc nối 2 kết quả từ 2 cột <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">first_name và last_name</span>

In [ ]:
SELECT
    [first_name] + ' ' + [last_name]
FROM
    [sales].[customers]

**Ý nghĩa:** Đặt tên (bí danh) cho cột (hoặc bảng) có sẵn hoặc khởi tạo

**Cú pháp**

> column\_name | expression  AS column\_alias

hoặc

> column\_name | expression column\_alias

In [ ]:
SELECT
    [first_name] + ' ' + [last_name] AS [full_name]
FROM
    [sales].[customers]

In [ ]:
SELECT
    [first_name] + ' ' + [last_name] AS 'full_name'
FROM
    [sales].[customers]

### **<mark>SELECT DISTINCT</mark>**

**Ý nghĩa:** Loại bỏ những dòng trùng lặp cho 1 hoặc nhiều cột cụ thể trên bảng

**Cú pháp**

**1\. Cho 1 cột**

> <span style="font-size: 14px;">SELECT DISTINCT</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [column_name]</span>
> 
> FROM
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [table_name]</span>

**2\. Cho nhiều cột**

> <span style="font-size: 14px;">SELECT DISTINCT</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;[column_name1]</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;,[column_name2]</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;...</span>
> 
> <span style="font-size: 14px;">FROM</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;[table_name]</span>

VD1: Lấy danh sách thành phố (lọc ra giá trị trùng) từ bảng \[customers\]

In [ ]:
SELECT DISTINCT
    [city]
FROM
    [sales].[customers]

VD2: Lấy danh sách thành phố và bang tương ứng (lọc ra giá trị trùng) từ bảng \[customers\]

In [ ]:
SELECT DISTINCT
    [city]
	,[state]
FROM
    [sales].[customers]

VD3: Lấy danh sách số điện thoại (lọc ra giá trị trùng) từ bảng \[customers\]

In [ ]:
SELECT DISTINCT
    [phone]
FROM
    [sales].[customers]
ORDER BY 1

Lưu ý: Nếu bạn áp dụng mệnh đề <mark>**DISTINCT**</mark> cho cột có <mark>NUL</mark>L, mệnh đề <mark>**DISTINCT**</mark> sẽ chỉ giữ một <mark>NULL</mark> và loại dòng <mark>NULL</mark> còn lại. Nói cách khác, mệnh đề **<mark>DISTINCT</mark>** coi tất cả <mark>"giá trị" NULL là cùng một giá trị.</mark>

### **<mark>SỬ DỤNG CÁC PHÉP TOÁN SỐ HỌC</mark>**

Sử dụng các phép tính : <mark>\+ , - , \* , / , %</mark>

VD: Áp dụng thuế 10%, tính giá trị mỗi sản phẩm sau thuế

In [ ]:
SELECT 
    [product_name]
    ,[list_price]
	,[list_price] + [list_price] * 0.1 AS [list_price_after_tax]
FROM [production].[products]

### **<mark>GIỚI HẠN SỐ DÒNG KẾT QUẢ</mark>**

**Ý nghĩa:**

\- **<mark>TOP N</mark>**: Trả về kết quả <mark>N</mark> dòng <mark>đầu tiên</mark>

 - **<mark>TOP N Percent</mark>**: Trả về kết quả <mark>N% dòng đầu tiên</mark>

**Cú pháp:**

> <span style="font-size: 14px;">SELECT TOP N | TOP N PERCENT</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;[columns]</span>
> 
> <span style="font-size: 14px;">FROM [table_name]</span>

VD1: Lấy 10 sản phẩm đắt tiền nhất

In [ ]:
SELECT TOP 10
    [product_name]
	,[list_price]
FROM
    [production].[products]
ORDER BY 
    [list_price] DESC

VD2: Lấy 10% sản phẩm có giá trị đắt tiền nhất

In [ ]:
SELECT TOP 10 PERCENT
    [product_name]
    ,[list_price]
FROM
    [production].[products]
ORDER BY 
    [list_price] DESC

### **<mark>WHERE</mark>**

**Ý nghĩa:** Lọc kết quả theo một hoặc nhiều điều kiện

**Cú pháp:**

> <span style="font-size: 14px;">SELECT</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [select_list]</span>
> 
> <span style="font-size: 14px;">FROM</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [table_name]</span>
> 
> <span style="font-size: 14px;">WHERE</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; [condition(s)]</span>

<span style="font-size: 14px;">Trong mệnh đề <b style="background-color: yellow;">WHERE</b>, bạn chỉ định điều kiện tìm kiếm để lọc các dòng được trả về bởi mệnh đề <b style="background-color: yellow;">FROM</b>. Mệnh đề <b style="background-color: yellow;">WHERE</b> chỉ trả về các dòng thỏa điều kiện tìm kiếm được là <span style="background-color: yellow;">TRUE.</span></span>

Điều kiện tìm kiếm là một biểu thức logic hoặc kết hợp của nhiều biểu thức logic. Trong SQL, <mark>một biểu thức logic thường được gọi là một vị từ (predicate).</mark>

<span style="font-size: 14px;">Lưu ý rằng SQL Server sử dụng <span style="background-color: yellow;">logic vị từ ba giá trị</span> trong đó biểu thức logic có thể đánh giá thành <span style="background-color: yellow;">TRUE, FALSE hoặc UNKNOWN</span>. Mệnh đề <b style="background-color: yellow;">WHERE</b> sẽ không trả về bất kỳ dòng nào khiến vị từ đánh giá thành<span style="background-color: yellow;"> FALSE</span> hoặc <span style="background-color: yellow;">UNKNOWN.</span></span>

VD1: Lấy các sản phẩm có id bằng 1

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[category_id]
	,[model_year]
	,[list_price]
FROM
    [production].[products]
WHERE
    [category_id] = 1
ORDER BY
    [list_price] DESC

<span style="font-size: 14px;">VD2: Lấy&nbsp;các sản phẩm đáp ứng hai điều kiện: id bằng 1 và model_year bằng 2018</span>

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[category_id]
	,[model_year]
	,[list_price]
FROM
    [production].[products]
WHERE
    [category_id] = 1 AND [model_year] = 2018 --sử dụng toán tử logic AND để kết hợp hai điều kiện
ORDER BY
    [list_price] DESC

<span style="font-size: 14px;">VD3: Lấy ra các sản phẩm có list_price&nbsp;hơn 300 và&nbsp;</span> model\_year bằng 2018

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[category_id]
	,[model_year]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] > 300 AND [model_year] = 2018
ORDER BY
    [list_price] DESC

<span style="font-size: 14px;">VD4:&nbsp;</span> Lấy ra các sản phẩm có list\_price hơn 300 hoặc model\_year bằng 2018

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[category_id]
	,[model_year]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] > 3000 OR model_year = 2018 --sử dụng toán tử logic OR để kiểm tra điều kiện
ORDER BY
    [list_price] DESC

<span style="font-size: 14px;">VD5:&nbsp;</span> Lấy ra các sản phẩm có list\_price trong khoảng từ 1,899 đến 1,999.99

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[category_id]
	,[model_year]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] BETWEEN 1899.00 AND 1999.99
ORDER BY
    [list_price] DESC

<span style="font-size: 14px;">VD6:&nbsp;</span> Lấy ra các sản phẩm có list\_price bằng <span style="font-size: 14px;">&nbsp;299.99 hoặc 466.99 hoặc 489.99</span>

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[category_id]
	,[model_year]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] IN (299.99, 369.99, 489.99)
ORDER BY
    [list_price] DESC

<span style="font-size: 14px;">VD7:&nbsp;</span> Lấy ra các sản phẩm mà product\_name có chứa từ "Cruiser"

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[category_id]
	,[model_year]
	,[list_price]
FROM
    [production].[products]
WHERE
    [product_name] LIKE '%Cruiser%'
ORDER BY
    [list_price]

### <span style="font-size: 14px; background-color: yellow;"><b>AND và OR</b></span>

<span style="font-size: 14px; background-color: yellow;"><b>- AND:</b></span>

<span style="font-size: 14px;"><b>Ý nghĩa:</b> <b style="background-color: yellow;">AND</b> là một toán tử logic cho phép bạn kết hợp <span style="background-color: yellow;">hai biểu thức Boolean</span>. Nó chỉ trả về <span style="background-color: yellow;">TRUE</span> khi cả hai biểu thức đều đánh giá là<span style="background-color: yellow;"> TRUE</span>.</span>

**Cú pháp:** 

> boolean\_expression **AND** boolean\_expression

**<mark>\- OR:</mark>**

**Ý nghĩa:** <mark>**OR**</mark> là một toán tử logic cho phép bạn kết hợp hai biểu thức Boolean. Nó trả về <mark>TRUE</mark> khi một trong hai điều kiện được đánh giá là TRUE.

**Cú pháp:** 

> boolean\_expression **OR** boolean\_expression

**Lưu ý:**

\- Khi bạn sử dụng nhiều hơn một toán tử logic trong một biểu thức, SQL Server sẽ đánh giá toán tử **OR** <mark>sau</mark> toán tử **AND**. Tuy nhiên, bạn có thể thay đổi thứ tự đánh giá bằng cách sử dụng dấu <mark>ngoặc đơn</mark>.

VD1: Lấy các sản phẩm có category\_id bằng 1 và có list\_price lớn hơn 400

In [ ]:
SELECT
    *
FROM
    [production].[products]
WHERE
    [category_id] = 1 AND [list_price] > 400

VD2: Lấy các sản phẩm có list\_price nhỏ hơn 200 hoặc list\_price lớn hơn 6000

In [ ]:
SELECT
    [product_name]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] < 200 OR [list_price] > 6000
ORDER BY
    list_price

VD3: Lấy các sản phẩm thỏa các điều kiện sau: category\_id bằng 1 và list\_price \> 400 và brand\_id = 1

In [ ]:
SELECT
    *
FROM
    [production].[products]
WHERE
    [category_id] = 1
AND [list_price] > 400
AND [brand_id] = 1
ORDER BY
    [list_price] DESC

VD4: Lấy các sản phẩm thỏa các điều kiện sau: brand\_id = 1 hoặc brand\_id = 2 hoặc brand\_id = 4

In [ ]:
SELECT
    [product_name]
	,[brand_id]
FROM
    [production].[products]
WHERE
    [brand_id] = 1
	OR [brand_id] = 2
	OR [brand_id] = 4
ORDER BY
    [brand_id] DESC

VD5: Lấy các sản phẩm thỏa các điều kiện sau: brand\_id bằng 1 hoặc brand\_id = 2 và list\_price \> 1000

In [ ]:
SELECT
    *
FROM
    [production].[products]
WHERE
    [brand_id] = 1
	OR brand_id = 2
	AND [list_price] > 1000
ORDER BY
    [brand_id] DESC

In [ ]:
SELECT
    *
FROM
    [production].[products]
WHERE
    ([brand_id] = 1 OR [brand_id] = 2)
	AND [list_price] > 1000
ORDER BY
    [brand_id]

### **<mark>IN</mark>**

**Ý nghĩa:** Toán tử <mark>**IN**</mark> là một toán tử logic cho phép bạn kiểm tra xem một giá trị được chỉ định có khớp với bất kỳ giá trị nào trong danh sách hay không

**Cú pháp:** 

> column | expression IN ( v1, v2, v3, ...)

 <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;Trong cú pháp này:</span>

 <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Đầu tiên, chỉ định cột hoặc biểu thức để kiểm tra.</span>

 <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Thứ hai, chỉ định một danh sách các giá trị để kiểm tra. Tất cả các giá trị phải có cùng kiểu với kiểu của cột hoặc biểu thức.&nbsp;</span> 

 <span style="font-size: 14px;">&nbsp; &nbsp; &nbsp;Nếu một giá trị trong cột hoặc biểu thức bằng bất kỳ giá trị nào trong danh sách, thì kết quả của toán tử <b>IN</b> là TRUE.</span>

<span style="font-size: 14px;">Toán tử IN tương đương với nhiều OR:</span>

> <span style="font-size: 14px;">column IN (v1, v2, v3)</span>

> column = v1 OR column = v2 OR column = v3

<span style="font-size: 14px;"><br></span>

<span style="font-size: 14px;">Để phủ định toán tử<span style="background-color: yellow;"> <b>IN</b></span>, bạn sử dụng toán tử <b style="background-color: yellow;">NOT IN</b> như sau:</span>

> <span style="font-size: 14px;">column | expression NOT IN ( v1, v2, v3, ...)</span>

<span style="font-size: 14px;">Kết quả toán tử <span style="background-color: yellow;"><b>NOT IN</b> </span>là <span style="background-color: yellow;">TRUE </span>nếu cột hoặc biểu thức không bằng bất kỳ giá trị nào trong danh sách.</span>

VD1: Lấy các sản phẩm có list\_price bằng 89.99 hoặc 109.99 hoặc 159.99

In [ ]:
SELECT
    [product_name]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] = 89.99 OR [list_price] = 109.99 OR [list_price] = 159.99
ORDER BY
    list_price

In [ ]:
SELECT
    [product_name]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] IN (89.99, 109.99, 159.99)
ORDER BY
    [list_price]

VD2: Lấy các sản phẩm có list\_price không bằng 3 giá trị trong VD1

In [ ]:
SELECT
    [product_name]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] NOT IN (89.99, 109.99, 159.99)
ORDER BY
    [list_price]

### <span style="font-size: 14px; background-color: yellow;"><b>BETWEEN ... AND ...</b></span>

<span style="font-size: 14px;">Ý nghĩa: Toán tử<span style="background-color: yellow;"> <b>BETWEEN</b></span> là một toán tử logic cho phép bạn chỉ định một phạm vi để kiểm tra.</span>

<span style="font-size: 14px;">Cú pháp:</span>

> <span style="font-size: 14px;">column | expression BETWEEN start_expression AND end_expression</span>
> 
> <span style="font-size: 14px;">(</span>column | expression \<= end\_expression AND column | expression \>= start\_expression)

<span style="font-size: 14px;">Trong cú pháp này:</span>

<span style="font-size: 14px;">- Đầu tiên, chỉ định cột hoặc biểu thức để kiểm tra.</span>

<span style="font-size: 14px;">- Thứ hai, đặt start_expression và end_expression giữa từ khóa <b style="background-color: yellow;">BETWEEN</b> và <b style="background-color: yellow;">AND</b>. Biểu thức start_expression, end_expression và biểu thức cần kiểm tra phải có cùng kiểu dữ liệu.</span>

<span style="font-size: 14px;">Toán tử<span style="background-color: yellow;"> <b>BETWEEN</b></span> trả về <span style="background-color: yellow;">TRUE</span> nếu biểu thức cần kiểm tra lớn hơn hoặc bằng giá trị của biểu thức start_expression và nhỏ hơn hoặc bằng giá trị của biểu thức end_expression</span>

Để phủ định kết quả của toán tử **<mark>BETWEEN</mark>**, bạn sử dụng toán tử **<mark>NOT BETWEEN</mark>** như sau:

> column | expression NOT BETWEEN start\_expression AND end\_expresion
> 
> (column | expression \< start\_expression AND column | expression \> end\_expression)

<span style="font-size: 14px;">Lưu ý: Nếu bất kỳ đầu vào nào cho <b style="background-color: yellow;">BETWEEN</b> hoặc <b style="background-color: yellow;">NOT BETWEEN</b> là <span style="background-color: yellow;">NULL</span>, thì dòng chứa giá trị NULL sẽ bị loại bỏ.</span>

VD1: Lấy các sản phẩm có list\_price trong khoảng từ 149.99 đến 199.99

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] BETWEEN 149.99 AND 199.99
ORDER BY
    [list_price]

VD2: Lấy các sản phẩm có list\_price không nằm trong khoảng từ 149.99 đến 199.99

In [ ]:
SELECT
    [product_id]
	,[product_name]
	,[list_price]
FROM
    [production].[products]
WHERE
    [list_price] NOT BETWEEN 149.99 AND 199.99
ORDER BY
    [list_price]

### **<mark>LIKE</mark>**

**Ý nghĩa:** **LIKE** là một toán tử logic xác định xem một chuỗi ký tự có khớp với một mẫu được chỉ định hay không. Một mẫu có thể bao gồm các ký tự thông thường và các ký tự đại diện. Toán tử <mark>**LIKE**</mark> được sử dụng trong mệnh đề **<mark>WHERE</mark>** của câu lệnh **<mark>SELECT</mark>**, **<mark>UPDATE</mark>** và **<mark>DELETE</mark>** để lọc các hàng dựa trên đối sánh mẫu.

<span style="font-size: 14px;"><b>Cú pháp:</b></span>

> <span style="font-size: 14px;">column | expression LIKE pattern [ESCAPE escape_character]</span>

<span style="font-size: 14px;">Pattern:&nbsp;là một chuỗi các ký tự để tìm kiếm trong cột hoặc biểu thức</span>

- <span style="font-size: 14px;">The percent wildcard <span style="background-color: yellow;">(%)</span>:&nbsp;bất kỳ chuỗi nào không hoặc nhiều ký tự</span>
- The underscore <mark>(\_)</mark> wildcard: bất kỳ ký tự đơn nào
- The <mark>\[list of characters\]</mark> wildcard: bất kỳ ký tự đơn nào trong tập hợp được chỉ định
- The <mark>\[character-character\]</mark>: bất kỳ ký tự đơn nào trong phạm vi được chỉ định
- The <mark>\[^\]</mark>: bất kỳ ký tự đơn nào không nằm trong danh sách hoặc một dải ô

<span style="font-size: 14px;"><span style="background-color: yellow;">Escape character</span>:&nbsp;chỉ thị cho toán tử<span style="background-color: yellow;"> LIKE </span>xử lý các ký tự đại diện như các ký tự thông thường. Ký tự thoát không có giá trị mặc định và chỉ được đánh giá là một ký tự.</span>

<span style="font-size: 14px;">Toán tử LIKE trả về TRUE nếu cột hoặc biểu thức khớp với mẫu được chỉ định.</span>

<span style="font-size: 14px;">Để phủ định kết quả của toán tử <span style="background-color: yellow;">LIKE,</span> bạn sử dụng toán tử <span style="background-color: yellow;">NOT</span> như sau:</span>

> <span style="font-size: 14px;">column | expression NOT LIKE pattern [ESCAPE escape_character]</span>

VD1: Lấy danh sách khách hàng có last\_name bắt đầu bằng chữ 'z'

In [ ]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] LIKE 'z%'
ORDER BY
    [first_name]

VD2: Lấy danh sách khách hàng có last\_name kết thúc bằng chữ 'er'

In [ ]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] LIKE '%er'
ORDER BY
    [first_name]

VD3: Lấy danh sách khách hàng có last\_name bắt đầu bằng chữ 't' và kết thúc bằng chữ 's'

In [ ]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] LIKE 't%s'
ORDER BY
    [first_name]

VD4: Lấy danh sách khách hàng có last\_name có ký tự thứ 2 là 'u'

In [ ]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] LIKE '_u%'
ORDER BY
    [first_name]

VD5: Lấy danh sách khách hàng có last\_name có ký tự đầu là 'Y' hoặc 'Z'

In [ ]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] LIKE '[YZ]%'
ORDER BY
    [last_name]

VD6: Lấy danh sách khách hàng có last\_name có ký tự đầu từ 'A' đến 'C' trong bảng chữ cái

In [ ]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] LIKE '[A-C]%'
ORDER BY
    [last_name]

VD7: Lấy danh sách khách hàng có last\_name có ký tự đầu KHÔNG thuộc đoạn từ 'A' đến 'X' trong bảng chữ cái

In [2]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] LIKE '[^A-X]%'
ORDER BY
    [last_name]

customer_id,first_name,last_name
54,Fran,Yang
250,Ivonne,Yang
768,Yvone,Yates
223,Scarlet,Yates
498,Edda,Young
543,Jasmin,Young
1354,Alexandria,Zamora
304,Jayme,Zamora
110,Ollie,Zimmerman

In [1]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [last_name] not LIKE '[A-X]%'
ORDER BY
    [last_name]

customer_id,first_name,last_name
54,Fran,Yang
250,Ivonne,Yang
768,Yvone,Yates
223,Scarlet,Yates
498,Edda,Young
543,Jasmin,Young
1354,Alexandria,Zamora
304,Jayme,Zamora
110,Ollie,Zimmerman

VD8: Lấy danh sách khách hàng có first\_name có ký tự đầu KHÔNG phải là 'A'

In [ ]:
SELECT
    [customer_id]
	,[first_name]
	,[last_name]
FROM
    [sales].[customers]
WHERE
    [first_name] NOT LIKE 'A%'
ORDER BY
    [first_name]

VD9: Tìm kiếm comment có xuất hiện '30%'

In [ ]:
SELECT 
   [feedback_id]
   ,[comment]
FROM 
   [sales].[feedback]
WHERE 
   [comment] LIKE '%30%'

In [ ]:
SELECT 
   [feedback_id]
   ,[comment]
FROM 
   [sales].[feedback]
WHERE 
   [comment] LIKE '%30!%%' ESCAPE '!'

### <span style="font-size: 14px; background-color: yellow;"><b>ORDER BY</b></span>

**Ý nghĩa:** <span style="font-size: 14px;">Khi bạn sử dụng câu lệnh <b>SELECT</b> để truy vấn dữ liệu từ một bảng, thứ tự của các hàng trong tập kết quả không được đảm bảo. Nó có nghĩa là SQL Server có thể trả về một tập hợp kết quả với thứ tự các hàng không xác định.&nbsp;</span> Cách duy nhất để bạn đảm bảo rằng các hàng trong tập kết quả được sắp xếp là sử dụng mệnh đề **ORDER BY**

  

Cú pháp:

> <span style="font-size: 14px;">SELECT</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; select_list</span>
> 
> <span style="font-size: 14px;">FROM</span>
> 
>  <span style="font-size: 14px;">&nbsp; &nbsp; table_name</span>
> 
> <span style="font-size: 14px;">ORDER BY</span>
> 
> <span style="font-size: 14px;"><span style="white-space:pre"></span>column_name | expression [ASC | DESC ]</span>

<span style="font-size: 14px; background-color: yellow;">column_name | expression</span>  

<span style="font-size: 14px;">Bạn chỉ định tên cột hoặc biểu thức để sắp xếp tập hợp kết quả của truy vấn. Nếu bạn chỉ định nhiều cột, tập kết quả được sắp xếp theo cột đầu tiên và sau đó tập kết quả đã sắp xếp đó được sắp xếp theo cột thứ hai, v.v.&nbsp;</span> Các cột xuất hiện trong mệnh đề **ORDER BY** phải tương ứng với một trong hai cột trong danh sách lựa chọn hoặc với các cột được xác định trong bảng được chỉ định trong mệnh đề FROM.

  

<span style="font-size: 14px; background-color: yellow;">ASC | DESC</span>  

<span style="font-size: 14px;"><div>Sử dụng ASC hoặc DESC để chỉ định xem các giá trị trong cột được chỉ định nên được sắp xếp theo thứ tự tăng dần hay giảm dần.</div><div>ASC sắp xếp kết quả từ giá trị thấp nhất đến giá trị cao nhất trong khi DESC sắp xếp tập hợp kết quả từ giá trị cao nhất đến giá trị thấp nhất.</div><div>Nếu bạn không chỉ định rõ ràng ASC hoặc DESC, SQL Server sử dụng ASC làm thứ tự sắp xếp mặc định. Ngoài ra, SQL Server coi NULL là giá trị thấp nhất.</div></span>

VD1: Sắp xếp danh sách khách hàng theo first\_name

In [ ]:
SELECT
    [first_name]
    ,[last_name]
FROM
    [sales].[customers]
ORDER BY
    [first_name]

VD2: Sắp xếp danh sách khách hàng theo thứ tự giảm dần của first\_name

In [ ]:
SELECT
    [first_name]
    ,[last_name]
FROM
    [sales].[customers]
ORDER BY
    [first_name] DESC

VD3: Sắp xếp danh sách khách hàng theo city, sau đó tới first\_name

In [ ]:
SELECT
    [city]
    ,[first_name]
    ,[last_name]
FROM
    [sales].[customers]
ORDER BY
    [city], [first_name]

VD4: Sắp xếp danh sách khách hàng theo thứ tự giảm dần ở cột city, sau đó tăng dần ở cột first\_name

In [ ]:
SELECT
    [city]
    ,[first_name]
    ,[last_name]
FROM
    [sales].[customers]
ORDER BY
    [city] DESC
    ,[first_name] ASC

VD5: Sắp xếp danh sách khách hàng theo state

In [ ]:
SELECT
    [city]
    ,[first_name]
    ,[last_name]
FROM
    [sales].[customers]
ORDER BY
    [state]

In [ ]:
SELECT
    [first_name]
    ,[last_name]
FROM
    [sales].[customers]
ORDER BY
    1,
    2