**<mark>CREATE DATABASE</mark>**

Cú pháp:

> CREATE DATABASE database\_name

In [ ]:
CREATE DATABASE TestDb

In [ ]:
-- Câu lệnh này liệt kê tất cả cơ sở dữ liệu trong SQL Server
SELECT 
    name
FROM 
    master.sys.databases
ORDER BY 
    name

**<mark>DROP DATABASE</mark>**

Cú pháp:

> DROP DATABASE  \[ IF EXISTS \]
> 
>     database\_name 
> 
>     \[,database\_name2,...\]

Tùy chọn IF EXISTS có sẵn từ SQL Server 2016 (13.x). Nó cho phép bạn xóa cơ sở dữ liệu có điều kiện chỉ khi cơ sở dữ liệu đó đã tồn tại. Nếu bạn cố gắng xóa cơ sở dữ liệu không tồn tại mà không chỉ định tùy chọn IF EXISTS, SQL Server sẽ gặp lỗi.

Trước khi xóa cơ sở dữ liệu, bạn phải đảm bảo các điểm quan trọng sau:

- <mark>Đầu tiên, câu lệnh DROP DATABASE xóa cơ sở dữ liệu và cả các tệp đĩa vật lý được cơ sở dữ liệu sử dụng. Do đó, bạn nên có một bản sao lưu cơ sở dữ liệu phòng trường hợp muốn khôi phục lại trong tương lai.</mark>
- <mark>Thứ hai, bạn không thể bỏ cơ sở dữ liệu hiện đang được sử dụng.</mark>

In [ ]:
DROP DATABASE IF EXISTS TestDb

**<mark>SCHEMA</mark>**

**Ý nghĩa Schema****:** <mark>Schema (lược đồ)</mark> là một tập hợp các đối tượng cơ sở dữ liệu bao gồm <mark>bảng</mark>, dạng <mark>xem (views)</mark>, <mark>trình kích hoạt</mark> <mark>(triggers),</mark> thủ tục được lưu trữ <mark>(stored procedures)</mark>, <mark>chỉ mục (indexs),</mark> v.v. Một lược đồ được liên kết với tên người dùng được gọi là chủ sở hữu lược đồ, chủ sở hữu của các đối tượng cơ sở dữ liệu liên quan về mặt logic. Một lược đồ luôn thuộc về một cơ sở dữ liệu. Mặt khác, một cơ sở dữ liệu có thể có một hoặc nhiều lược đồ.

**Các lược đồ tích hợp trong SQL Server**

SQL Server cung cấp cho chúng ta một số lược đồ được xác định trước có cùng tên với vai trò và người dùng cơ sở dữ liệu tích hợp, ví dụ: dbo, guest, sys và INFORMATION\_SCHEMA.

Lưu ý rằng SQL Server dự trữ hệ thống và lược đồ INFORMATION\_SCHEMA cho các đối tượng hệ thống, do đó, bạn không thể tạo hoặc bỏ bất kỳ đối tượng nào trong các lược đồ này.

Lược đồ mặc định cho cơ sở dữ liệu mới được tạo là dbo, thuộc sở hữu của tài khoản người dùng dbo. Theo mặc định, khi bạn tạo người dùng mới bằng lệnh CREATE USER, người dùng sẽ lấy dbo làm giản đồ mặc định.

**<mark>CREATE SCHEMA</mark>**

Cú pháp:

> CREATE SCHEMA schema\_name
> 
>     \[AUTHORIZATION owner\_name\]

In [ ]:
CREATE SCHEMA customer_services
GO

**<mark>ALTER SCHEMA</mark>**

Câu lệnh ALTER SCHEMA cho phép bạn chuyển một lược đồ có thể bảo mật từ một lược đồ sang một lược đồ khác trong cùng một cơ sở dữ liệu.

Lưu ý rằng có thể bảo mật là tài nguyên mà hệ thống ủy quyền Công cụ cơ sở dữ liệu kiểm soát quyền truy cập. Ví dụ, một bảng là một bảo mật.

Cú pháp:

> ALTER SCHEMA target\_schema\_name   
> 
>     TRANSFER \[ entity\_type :: \] securable\_name

Trong cú pháp này:

- target\_schema\_name là tên của một lược đồ trong cơ sở dữ liệu hiện tại mà bạn muốn di chuyển đối tượng vào đó. Lưu ý rằng nó không thể là SYS hoặc INFORMATION\_SCHEMA.
- Entity\_type có thể là Object, Type hoặc XML Schema Collection. Nó mặc định là Đối tượng. Entity\_type đại diện cho lớp của thực thể mà chủ sở hữu đang được thay đổi.
- object\_name là tên của bảo mật mà bạn muốn chuyển vào target\_schema\_name.

In [ ]:
-- First, create a new table named offices in the dbo schema:
CREATE TABLE dbo.offices
(
    office_id      INT
    PRIMARY KEY IDENTITY, 
    office_name    NVARCHAR(40) NOT NULL, 
    office_address NVARCHAR(255) NOT NULL, 
    phone          VARCHAR(20),
)

In [ ]:
-- Next, insert some rows into the dob.offices table:
INSERT INTO 
    dbo.offices(office_name, office_address)
VALUES
    ('Silicon Valley','400 North 1st Street, San Jose, CA 95130'),
    ('Sacramento','1070 River Dr., Sacramento, CA 95820')

In [ ]:
ALTER SCHEMA sales TRANSFER OBJECT::dbo.offices

**<mark>DROP SCHEMA</mark>**

Câu lệnh DROP SCHEMA cho phép bạn xóa một lược đồ khỏi cơ sở dữ liệu.

Cú pháp:

> DROP SCHEMA \[IF EXISTS\] schema\_name

Trong cú pháp này:

- Đầu tiên, chỉ định tên của lược đồ mà bạn muốn thả. Nếu lược đồ chứa bất kỳ đối tượng nào, câu lệnh sẽ không thành công. Do đó, bạn phải xóa tất cả các đối tượng trong lược đồ trước khi xóa lược đồ.
- Thứ hai, sử dụng tùy chọn IF EXISTS để loại bỏ lược đồ có điều kiện chỉ khi lược đồ tồn tại. Cố gắng loại bỏ một lược đồ không tồn tại mà không có tùy chọn IF EXISTS sẽ dẫn đến lỗi.

In [ ]:
-- First, create a new schema named logistics:
CREATE SCHEMA logistics
GO

In [ ]:
-- Next, create a new table named deliveries inside the logistics schema:
CREATE TABLE logistics.deliveries
(
    order_id        INT
    PRIMARY KEY, 
    delivery_date   DATE NOT NULL, 
    delivery_status TINYINT NOT NULL
)

In [ ]:
-- Then, drop the schema logistics:
DROP SCHEMA logistics

In [ ]:
-- After that, drop the table logistics.deliveries:
DROP TABLE logistics.deliveries

In [ ]:
-- Finally, issue the DROP SCHEMA again to drop the logistics schema:
DROP SCHEMA IF EXISTS logistics

**<mark>CREATE TABLE</mark>**

Các bảng được sử dụng để lưu trữ dữ liệu trong cơ sở dữ liệu. Các bảng được đặt tên duy nhất trong cơ sở dữ liệu và lược đồ. Mỗi bảng chứa một hoặc nhiều cột. Và mỗi cột có một kiểu dữ liệu được liên kết xác định loại dữ liệu mà nó có thể lưu trữ, ví dụ: số, chuỗi hoặc dữ liệu tạm thời.

Cú pháp:

> CREATE TABLE \[database\_name.\]\[schema\_name.\]table\_name (
> 
>     pk\_column data\_type PRIMARY KEY,
> 
>     column\_1 data\_type NOT NULL,
> 
>     column\_2 data\_type,
> 
>     ...,
> 
>     table\_constraints
> 
> )

Trong cú pháp này:

- Đầu tiên, chỉ định tên của cơ sở dữ liệu mà bảng được tạo. Database\_name phải là tên của cơ sở dữ liệu hiện có. Nếu bạn không chỉ định nó, thì database\_name sẽ mặc định cho cơ sở dữ liệu hiện tại.
- Thứ hai, chỉ định lược đồ chứa bảng mới.
- Thứ ba, chỉ định tên của bảng mới.
- Thứ tư, mỗi bảng phải có một khóa chính (PRIMARY KEY) bao gồm một hoặc nhiều cột. Thông thường, bạn liệt kê các cột khóa chính trước rồi đến các cột khác. Nếu khóa chính chỉ chứa một cột, bạn có thể sử dụng các từ khóa CHÍNH sau tên cột. Nếu khóa chính bao gồm hai hoặc nhiều cột, bạn cần chỉ định ràng buộc KHÓA CHÍNH làm ràng buộc bảng (CONSTRAINTS). Mỗi cột có một kiểu dữ liệu liên quan được chỉ định sau tên của nó trong câu lệnh. Một cột có thể có một hoặc nhiều ràng buộc cột như NOT NULL và UNIQUE.
- Thứ năm, một bảng có thể có một số ràng buộc được chỉ định trong phần ràng buộc bảng như KHÓA NGOẠI (FOREIGN KEYS), KHÓA CHÍNH, UNIQUE và CHECK.

In [ ]:
CREATE TABLE sales.visits (
    visit_id INT PRIMARY KEY IDENTITY (1, 1),
    first_name VARCHAR (50) NOT NULL,
    last_name VARCHAR (50) NOT NULL,
    visited_at DATETIME,
    phone VARCHAR(20),
    store_id INT NOT NULL,
    FOREIGN KEY (store_id) REFERENCES sales.stores (store_id)
)

**<mark>ALTER TABLE ADD Column</mark>**

Cú pháp:

> ALTER TABLE table\_name
> 
> ADD column\_name data\_type column\_constraint

Trong cú pháp này:

- Đầu tiên, chỉ định tên của bảng mà bạn muốn thêm cột mới.
- Thứ hai, chỉ định tên của cột, kiểu dữ liệu của nó và ràng buộc nếu có.

Nếu bạn muốn thêm nhiều cột vào bảng cùng một lúc bằng cách sử dụng một câu lệnh ALTER TABLE, bạn sử dụng cú pháp sau:

> ALTER TABLE table\_name
> 
> ADD 
> 
>     column\_name\_1 data\_type\_1 column\_constraint\_1,
> 
>     column\_name\_2 data\_type\_2 column\_constraint\_2,
> 
>     ...,
> 
>     column\_name\_n data\_type\_n column\_constraint\_n

In [ ]:
-- The following statement creates a new table named sales.quotations:
CREATE TABLE sales.quotations (
    quotation_no INT IDENTITY PRIMARY KEY,
    valid_from DATE NOT NULL,
    valid_to DATE NOT NULL
)

In [ ]:
ALTER TABLE sales.quotations 
ADD description VARCHAR (255) NOT NULL

In [ ]:
ALTER TABLE sales.quotations 
ADD 
    amount DECIMAL (10, 2) NOT NULL,
    customer_name VARCHAR (50) NOT NULL

**<mark>ALTER TABLE ALTER COLUMN</mark>**

SQL Server cho phép bạn thực hiện các thay đổi sau đối với cột hiện có của bảng:

- Sửa đổi kiểu dữ liệu
- Thay đổi kích thước
- Thêm ràng buộc NOT NULL

Sửa đổi kiểu dữ liệu của cột

> ALTER TABLE table\_name 
> 
> ALTER COLUMN column\_name new\_data\_type(size)

<mark>Kiểu dữ liệu mới phải tương thích với kiểu cũ, nếu không, bạn sẽ gặp lỗi chuyển đổi trong trường hợp cột có dữ liệu và nó không chuyển đổi được.</mark>

In [ ]:
-- First, create a new table with one column whose data type is INT:
CREATE TABLE t1 (c INT)

In [ ]:
-- Second, insert some rows into the table:
INSERT INTO t1
VALUES
    (1),
    (2),
    (3)

In [ ]:
-- Second, modify the data type of the column from INT to VARCHAR:
ALTER TABLE t1 ALTER COLUMN c VARCHAR (2)

In [ ]:
-- Third, insert a new row with a character string data:
INSERT INTO t1
VALUES ('@')

In [ ]:
-- Fourth, modify the data type of the column from VARCHAR back to INT:
ALTER TABLE t1 ALTER COLUMN c INT

Thay đổi kích thước

In [ ]:
-- The following statement creates a new table with one column whose data type is VARCHAR(10):
CREATE TABLE t2 (c VARCHAR(10))

In [ ]:
-- Let’s insert some sample data into the t2 table:
INSERT INTO t2
VALUES
    ('SQL Server'),
    ('Modify'),
    ('Column')

In [ ]:
-- You can increase the size of the column as follows:
ALTER TABLE t2 ALTER COLUMN c VARCHAR (50)

In [ ]:
ALTER TABLE t2 ALTER COLUMN c VARCHAR (5);

<span style="font-size: 14px;">Thêm ràng buộc NOT NULL</span>

In [ ]:
-- The following statement creates a new table with a nullable column:
CREATE TABLE t3 (c VARCHAR(50))

In [ ]:
-- The following statement inserts some rows into the table:
INSERT INTO t3
VALUES
    ('Nullable column'),
    (NULL)

In [ ]:
-- If you want to add the NOT NULL constraint to the column c, you must update NULL to non-null first for example:
UPDATE t3
SET c = ''
WHERE
    c IS NULL

In [ ]:
-- And then add the NOT NULL constraint:
ALTER TABLE t3 ALTER COLUMN c VARCHAR (20) NOT NULL

**<mark>ALTER TABLE DROP COLUMN</mark>**

Cú pháp:

> <span style="font-size:14px;">ALTER TABLE table_name</span>
> 
> <span style="font-size:14px;">DROP COLUMN column_name</span>

<span style="font-size:14px;">Trong cú pháp này:</span>

- <span style="font-size:14px;">Đầu tiên, chỉ định tên của bảng mà bạn muốn xóa cột.</span>
- <span style="font-size:14px;">Thứ hai, chỉ định tên của cột mà bạn muốn xóa.</span>

<span style="font-size:14px;background-color:yellow;">Nếu cột bạn muốn xóa có ràng buộc CHECK, bạn phải xóa ràng buộc trước khi xóa cột. Ngoài ra, SQL Server không cho phép bạn xóa một cột có một KHÓA CHÍNH hoặc một ràng buộc KHÓA NGOẠI.</span>

<span style="font-size:14px;">Nếu bạn muốn xóa nhiều cột cùng một lúc, bạn sử dụng cú pháp sau:</span>

> ALTER TABLE table\_name
> 
> DROP COLUMN column\_name\_1, column\_name\_2,...

In [ ]:
-- Let’s create a new table named sales.price_lists for the demonstration.
CREATE TABLE sales.price_lists(
    product_id int,
    valid_from DATE,
    price DEC(10,2) NOT NULL CONSTRAINT ck_positive_price CHECK(price >= 0),
    discount DEC(10,2) NOT NULL,
    surcharge DEC(10,2) NOT NULL,
    note VARCHAR(255),
    PRIMARY KEY(product_id, valid_from)
)

In [ ]:
-- The following statement drops the note column from the price_lists table:
ALTER TABLE sales.price_lists
DROP COLUMN note

In [ ]:
-- The price column has a CHECK constraint, therefore, you cannot delete it. If you try to execute the following statement, you will get an error:
ALTER TABLE sales.price_lists
DROP COLUMN price

In [ ]:
-- To drop the price column, first, delete its CHECK constraint:
ALTER TABLE sales.price_lists
DROP CONSTRAINT ck_positive_price

In [ ]:
-- And then, delete the price column:
ALTER TABLE sales.price_lists
DROP COLUMN price

In [ ]:
-- The following example deletes two columns discount and surcharge at once:
ALTER TABLE sales.price_lists
DROP COLUMN discount, surcharge

**<mark>DROP TABLE</mark>**

Cú pháp:

> <span style="font-size:14px;">DROP TABLE [IF EXISTS]&nbsp; [database_name.][schema_name.]table_name;</span>

<span style="font-size:14px;">Trong cú pháp này:</span>

- <span style="font-size:14px;">Đầu tiên, chỉ định tên của bảng sẽ bị xóa.</span>
- <span style="font-size:14px;">Thứ hai, chỉ định tên của cơ sở dữ liệu mà bảng được tạo và tên của lược đồ chứa bảng đó. Tên cơ sở dữ liệu là tùy chọn. Nếu bạn bỏ qua nó, câu lệnh DROP TABLE sẽ thả bảng trong cơ sở dữ liệu hiện được kết nối.</span>
- <span style="font-size:14px;">Thứ ba, sử dụng mệnh đề IF EXISTS để loại bỏ bảng chỉ khi nó tồn tại. Mệnh đề IF EXISTS đã được hỗ trợ kể từ SQL Server 2016 13.x. Nếu bạn xóa một bảng không tồn tại, bạn sẽ gặp lỗi. Mệnh đề IF EXISTS loại bỏ bảng có điều kiện nếu nó đã tồn tại.</span>

<span style="font-size:14px;background-color:yellow;">Khi SQL Server bỏ một bảng, nó cũng xóa tất cả dữ liệu, trình kích hoạt (triggers), ràng buộc (constraints), quyền (permissions) của bảng đó. Hơn nữa, SQL Server không loại bỏ rõ ràng các dạng xem (views) và các thủ tục được lưu trữ (stored procedures) tham chiếu đến bảng bị loại bỏ. Do đó, để loại bỏ các đối tượng phụ thuộc này một cách rõ ràng, bạn phải sử dụng câu lệnh DROP VIEW và DROP PROCEDURE.</span>

SQL Server cho phép bạn loại bỏ nhiều bảng cùng một lúc bằng cách sử dụng một câu lệnh DROP TABLE như sau:

> <span style="color:#0000ff;">DROP</span> <span style="color:#0000ff;">TABLE</span> 
> 
>     \[database\_name.\]\[schema\_name.\]table\_name\_1,
> 
>     \[database\_name.\]\[schema\_name.\]table\_name\_2, …
> 
>     \[database\_name.\]\[schema\_name.\]table\_name\_n

In [ ]:
-- A) Drop a table that does not exist
DROP TABLE IF EXISTS sales.revenues

In [ ]:
-- B) Drop a single table example
-- The following statement creates a new table named delivery in the sales schema:
CREATE TABLE sales.delivery (
    delivery_id INT PRIMARY KEY,
    delivery_note VARCHAR (255) NOT NULL,
    delivery_date DATE NOT NULL
)

In [ ]:
-- To remove the delivery table, you use the following statement:
DROP TABLE sales.delivery

In [ ]:
-- C) Drop a table with a foreign key constraint example
CREATE SCHEMA procurement;
GO

CREATE TABLE procurement.supplier_groups (
    group_id INT IDENTITY PRIMARY KEY,
    group_name VARCHAR (50) NOT NULL
);

CREATE TABLE procurement.suppliers (
    supplier_id INT IDENTITY PRIMARY KEY,
    supplier_name VARCHAR (50) NOT NULL,
    group_id INT NOT NULL,
    FOREIGN KEY (group_id) REFERENCES procurement.supplier_groups (group_id)
)

In [ ]:
-- Let’s try to drop the supplier_groups table:
DROP TABLE procurement.supplier_groups

In [ ]:
-- SQL Server does not allow you to delete a table that is referenced by a foreign constraint. 
-- To delete this table, you must drop the referencing foreign key constraint or referencing table first. 
-- In this case, you have to drop the foreign key constraint in the  suppliers table or the  suppliers table first before removing the supplier_groups table.
DROP TABLE procurement.supplier_groups
DROP TABLE procurement.suppliers

In [ ]:
--If you use a single DROP TABLE statement to remove both tables, the referencing table must be listed first as shown in the query below:
DROP TABLE procurement.suppliers, procurement.supplier_groups